*.pyc
*.swp
.DS_Store
*.sql
*.sql-journal
*credentials.py
tags
/uploads
/new_uploads
/django-ajax-uploader
/django_static
/notes/migrations
*local_settings.py
static/css/mixins.css
static/css/responsive-utilities.css
static/css/responsive.css
static/css/styles.css
static/css/utilities.css
static/css/variables.css
static/css/bootstrap.css
static/less/bootstrap *.css
