Django>=1.4
gdata==2.0.16
django-simple-autocomplete==0.2
django-social-auth==0.6.7
South==0.7.4
httplib2==0.7.4
oauth2==1.5.211
python-openid==2.2.5
wsgiref==0.1.2
simplejson==2.5.0
django-simple-math-captcha==1.0.2
gunicorn==0.14.2
django-haystack==1.2.7
pysolr==2.1.0-beta
celery==2.5.3
django-celery==2.5.5
recaptcha-client==1.0.6
-e git://github.com/FinalsClub/django-ajax-uploader.git#egg=ajaxuploader-dev
google-api-python-client==1.0
