{% extends 'navigation.html' %}

{% block title %}
{{ file.course.title }} || {{ file.title }}
{% endblock %}

{% block navinner %}
<div class="container">
  <div class="row">

    <div class="span9">
      <div class="row-fluid">
        <div class="span12">
          <h2 id="file-title">{{ file.title }}</h2>
          <div id="file-title-editable" style="display:none">
            <input type="text" class="input-xxlarge" id="file-title-editable-input" placeholder="File title"  role="textbox">
            </div>
          {# TODO: make this use something like the course_info.html file #}
          <div class="file-info-wrapper">
            <h4>About this Class</h4>
              <h3><a href="{{ file.course.get_absolute_url }}">{{ file.course.title }}</a></h3>
              <strong>{{ file.course.instructor }} | {{ file.school.name }}</strong>


              <div class="class-info">
                {% if file.course.files.count >= 1 %}
                This class has <a href="#">{{ file.course.files.count }} notes</a>.
                {% endif %}
                <!--<p><span class="your-files">You have <a href="#">1 upload </a> and <a href="#">2 downloads</a></span> from this class. </p>-->
              </div>

            <h4>About this file</h4>
            <div id="file-description">{{file.description}}
            </div>
            <div id="file-description-editable" style="display:none">
              <input type="text" class="input-xxlarge" id="file-description-editable-input" placeholder="File description" role="textbox">
            </div>
            <div class="user">Uploaded by <a href="#"><i class="icon-user"></i>{{ file.owner.get_profile.getName }}</a></div>
            <div class="points-and-views">
              <strong>{{ file_type }}:</strong> <span class="karma-points">10 points</span>
              <span class="views">{{ file.viewCount }} views</a>
            </div>
            <div id="file-actions">
            {% include "file-actions.html" with file=file %}
            </div>
            <div class="clear"></div>
          </div>
          <div class="note-text">
            <iframe style="border:none; width:100%;" id="noteframe" >Note viewing requires iframe support </iframe>
          </div> <!-- .note-text -->
          <div class="note-error" style="display:none">
            This document's content is currently unavailable. It's likely the document is still being processed. Please try again later.
          </div>
        </div> <!-- .span12 -->
      </div> <!-- .row-fluid -->
    </div> <!-- .span9 -->
  </div> <!-- .row -->
</div> <!-- .container -->

{% endblock %}

{% block scripts %}
<!-- view-file.js requires vars: 
     file_html, file_pk, file_title, file_description -->
<script>var view_file_html = "{{file.html|safe}}"; var view_file_pk = {{file.pk}}; var view_file_title = "{{file.title}}"; var view_file_description = "{{file.description}}";

  {% if editing_file %}
  var editing_file = true;
  {% else %}
  var editing_file = false;
  {% endif %}
</script>
<script src="{{ STATIC_URL }}/js/view-file.js" ></script>
{% endblock %}
