{% extends "base.html" %}
{% load url from future %}

{% block content %}
<div class="hero-unit" style="width:500px; margin-right:auto;margin-left:auto; text-align:center;">
  <img src="{{STATIC_URL}}img/logo.png"/>
  <h1>Forget your password?</h1>
  <br/>
  <p>So do we. For security purposes, we don't store plain-text passwords (nobody should). <br/> Use this form to generate a new password</p>

  <form method="post" style="width:300px; margin-left:auto;margin-right:auto;" action="">
    {% csrf_token %}
    {{ form }}
    <br/>
    <input class="btn btn-primary" type="submit" value="Reset Password" />
  </form>
<!--
  <form method="post" style="width:300px; margin-left:auto;margin-right:auto;" action="{% url 'register_account' None %}">
    {% csrf_token %}
    {% for field in form %}
      <div style="font-weight:bold;margin-left:auto;margin-right:auto;width:300px">{{ field.errors }}</div>
      <h3>{{ field.label}}</h3>
      {{ field }}<br/>
      <span style="opacity:.5">{{ field.help_text|safe }}</span><br>
    {% endfor %}

    <br/>
    <input class="btn btn-primary" type="submit" value="Register" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form> -->
</div>

{% endblock %}
