{% load url from future %}
{% if type %}
<h1>Add {{type}}</h1>
{% endif %}
{% if suggestions %}
<div id="model-suggestions-div" style="padding:10px">
<h3>Sure we don't all ready have your {{type}}?</h3>

<select name="Existing {{type}}" id="model-suggestions" class="{{type|lower}}">

{% for suggestion in suggestions %}
<option value="{{suggestion.pk}}">{{suggestion.title}}{{suggestion.name}}</option>
{% endfor %}
</select><br/>
<input id="select-suggestion" style="font-size:20px; padding:10px" class="btn btn-primary" type="submit" value="Found {{ type }}!" />
<input id="create-model" style="font-size:20px; padding:10px" class="btn btn-success" type="submit" value="Create {{ type }}!" />
</div>

<!-- hide create model form until user confirms it's needed -->
<div id="create-model-form" style="display:none">
{% else %}
<div id="create-model-form">
{% endif %}


<p>{{message}}</p>
	<form class="form-horizontal model-form {{type|lower}}" id="{{type}}-form" enctype="multipart/form-data" action="{% url 'add' %}" method="post">{% csrf_token %}
		<input type='hidden' name='type' value='{{ type }}' />
		{% for field in form.hidden_fields %}
		  {{field}}
		{% endfor %}
		{% for field in form.visible_fields %}
    	<div class="control-group">
        <label style="font-size:15px"class="control-label">{{field.label}}</label>
        <div class="controls">
            {{ field }}
            <span class="help-inline">{{field.errors}}</span>
        </div>
      </div>
    	{% endfor %}<br/>
	  <input style="font-size:20px; padding:10px" class="btn btn-primary" type="submit" value="Create {{ type }}!" />
	</form>
</div>
	 