{% load url from future %}
<h1>Add {{type}}</h1>
	<form enctype="multipart/form-data" action="{% url 'add' %}" method="post">{% csrf_token %}
		<input type='hidden' name='type' value='{{ type }}' />
		{% for field in form %}
    	<div style="font-weight:bold;margin-left:auto;margin-right:auto;width:300px">{{ field.errors }}</div>
		            {{ field.label_tag }} 
		            {{ field }}
		            {% if field.label == 'Instructor' %}
		            	<a style="color:green" id="add-instructor-btn"><b>+</b></a>
		            {% endif %}
    	{% endfor %}<br/>
	  <input class="btn btn-primary" type="submit" value="Create {{ type }}!" />
	</form>
	 <a class="btn btn-inverse back-btn" id="{{type|lower}}-back-btn" >Back</a>