{% load url from future %}
<h1>Add {{type}}</h1>
<p>{{message}}</p>
	<form class="form-horizontal model-form" id="{{type}}-form" enctype="multipart/form-data" action="{% url 'add' %}" method="post">{% csrf_token %}
		<input type='hidden' name='type' value='{{ type }}' />
		{% for field in form.hidden_fields %}
		  {{field}}
		{% endfor %}
		{% for field in form.visible_fields %}
    	<div class="control-group">
        <label style="font-size:15px"class="control-label">{{field.label}}</label>
        <div class="controls">
            {{ field }}
            <span class="help-inline">{{field.errors}}</span>
        </div>
      </div>
    	{% endfor %}<br/>
	  <input style="font-size:20px; padding:10px" class="btn btn-primary" type="submit" value="Create {{ type }}!" />
	</form>
	 <a class="btn btn-inverse back-btn" id="{{type|lower}}-back-btn" >Back</a>