{% load url from future %}

<!DOCTYPE HTML>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="">
  <meta name="google-site-verification" content="uVEr4TwuWwovidBozQG-TRZblTLEsi0l4qxxi5rw71w" />

  <!-- Le styles -->
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">

  <!-- Le fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Macondo+Swash+Caps' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://use.typekit.net/pnc8diw.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- Le scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

  <script type="text/javascript">
  $(document).ready(function(){
    // Show file info on hover
    $(".container").on("hover","div.file.row-fluid", function(){
      console.log("file hover");
      $(this).find('.file-info-action').toggleClass("hide");
    });

    // Handle file-action icon clicks
    $('#container').on("click",".vote", function(e){
      // determine file corresponding to this row
      {% if user.is_authenticated %}
      file_pk = $(this).closest('.file-actions').attr("id").split("-")[1];
      console.log($(this));

      vote = 0;
      // like -- upvote
      if($(this).hasClass("upvote")){
        e.preventDefault();
        vote = 1;
      }
      // flag -- downvote
      else if($(this).hasClass("downvote")){
        e.preventDefault();
        vote = -1;
      }
      $.ajax({
        // /vote/note_pk?v=vote_value
        url: "/vote/"+file_pk,
        data: {'vote': vote, 'user':{{ user.pk}} },
        success: function(data) {
          alert(data);
        },
        dataType: "text"
      });

      {% else %}
      alert("You must sign in to Like or Flag a File");
      {% endif %}
    });

  });
  </script>

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <title>Karma Notes -- {% block title %}{% endblock %}</title>

  {% block header %}
  {% endblock %}
</head>

<body>
<!-- modal dialogs -->
{% include './modal/modal_share_karma.html' %}
{% include 'modal_upload.html' %}

{% block content %}
{% endblock %}

{% block scripts %}
{% endblock %}



</body>
</html>
