{% extends 'navigation.html' %}

{% block title %}
  Course -- {{ course.title }}
{% endblock %}

{% block navinner %}

{% include 'course_info.html' %}

<!-- nav tabs for events and files uploaded-->
<ul class="nav nav-tabs">
  <li><a href="#course-notes" data-toggle="tab">Course Notes</a></li>
  <li><a href="#events-tab" data-toggle="tab">What's New</a></li>
</ul>
  
<div class="tab-content">
  <div class="tab-pane" id="events-tab">
    <table id="events" class="table">
      <tbody>
      {% for event in events %}
        <tr>
          <td>
            <i class="icon-plus-sign"></i> 
          </td>
          <td>
            {% include 'karma_events/course_log.html' with event=event %}<br/>
          </td>
          <td style="text-align: right;">
          at {{ event.timestamp }}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div> <!-- end events pane -->

<div class="tab-pane active" id="course-notes">
{% if files %}
  {% for file in files %}
    {% include 'file.html' with file=file %}
  {% endfor %}
{% else %}
  <h3>There aren't any notes for this course yet. Would you like to upload some?</h3>
  <p>Would you like to
    <div class="upload">
      <a class="button" data-toggle="modal" href="#upload">Upload notes</a>
    </div>
  </p>
{% endif %}
</div> <!-- .course-listing -->

{% endblock %}

