{% extends "base.html" %}

{% block content %}

<div id="browseForNotes">
  {% if user.get_profile.school %}
    <h1>Browse {{ user.get_profile.school }}</h1>
  {% else %}
    <h1>Browse All Schools</h1>
  {% endif %}
    <div id="searchBySchool">
      {% for school in schools %}
      <div class="school">
        {{school}}
        {% for course in school.course_set.all %}
        {% include "course-div.html" with course=course %}
        <div class="files">
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    <div id="searchByTags" style="clear:both;">
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
  $('#searchBySchool').on("click", ".school", function() {

  });

});

</script>
{% endblock %}