{% extends 'navigation.html' %}

{% block title %}
  Browse {{ school.name }} Courses
{% endblock %}

{% block navinner %}
<div>
  <h2> Browse {{ school.name }} Courses </h2> Click on a course to see notes from that course.
</div>
<div class="course-listing">
{% if courses %}
  {% for course in courses %}
    {% include 'course.html' with course=course %}
  {% endfor %}
{% else %}
  <h3>Sorry, there don't seem to be any courses for this school</h3>
  <p>Would you like to
    <div class="upload">
      <a class="button" data-toggle="modal" href="#upload">Upload notes</a>
    </div>
  </p>
{% endif %}
</div> <!-- .course-listing -->

{% endblock %}

