<div class="file-info-wrapper">
  <h4>About this Class</h4>
    <h3 id="course-title"><a href="{{ course.get_absolute_url }}">{{ course.title }}</a></h3>
    <div id="course-title-editable" style="display:none">
            <input type="text" class="input-xxlarge" id="course-title-editable-input" placeholder="Course title"  role="textbox">
            </div>
    <strong id="course-professor">{{ course.instructor }} </strong><strong>| {{ course.school.name }}</strong>
    <div id="course-professor-editable" style="display:none">
              <input type="text" class="input-xxlarge" id="course-professor-editable-input" placeholder="Course Professor" role="textbox">
    </div>

    <div style="padding-top:10px; padding-bottom:10px;" class="upload">
      <a class="button course-upload" school-pk="{{ course.school.pk }}" school-name="{{ course.school.name }}" course-pk="{{ course.pk }}" course-name="{{ course.title }}" data-toggle="modal" href="#upload">Upload notes</a>
    </div>

    <div class="class-info">
      {% if course.files.count >= 1 %}
        This class has {{ course.files.count }} notes.
      {% else %}
        This course doesn't have any notes yet.
      {% endif %}
      &nbsp;&nbsp;
      {% if course.url %}
        <a href="{{ course.url }}">Course Homepage</a>
      {% else %}
        {# TODO: js inline editing and ajax save endpoint #}
        <a href="#">add a Course Homepage</a>
      {% endif %}

      {# TODO: implement actual count here before launch or remove it #}
      <!--<p><span class="your-files">You have <a href="#">1 upload </a> and <a href="#">2 downloads</a></span> from this class. </p>-->
      <div id="course-actions">
        {% include "course-actions.html" with course=course %}
      </div>
    </div>
  <div class="clear"></div>

  {# TODO: include professor email address if we have it #}

	<div class="users">
	  <h4>Students Enrolled</h4>
      {# TODO: find limit of horizontal space and set upper bound to forloop #}
      {% for user in users %}
        <img title="{{ user.getName }}" src="{{ user.picture_url_small }}">
      {% endfor %}
	</div> <!-- .users -->
  <div class="clear"></div>
</div>
