
<div class="file-info-wrapper">
  <h4>About this Class</h4>
    <h3><a href="#">{{ course.title }}</a></h3>
    <strong>{{ course.instructor }} | {{ course.school.name }}</strong>

    <div class="class-info">
      {% if course.files.count >= 1 %}
        This class has <a href="#">{{ course.files.count }} notes</a>.
      {% endif %}
      {% if course.url %}
        <a href="{{ course.url }}">Course Homepage</a>
      {% else %}
        {# TODO: js inline editing and ajax save endpoint #}
        <a href="#">add a Course Homepage</a>
      {% endif %}

      {# TODO: implement actual count here before launch or remove it #}
      <p><span class="your-files">You have <a href="#">1 upload </a> and <a href="#">2 downloads</a></span> from this class. </p>
    </div>

  <h4>About this Professor</h4>
  REMAINDER LEFT HERE AS TEMPLATE FOR PROFESSOR INFORMATION
  <div class="user">Uploaded by <a href="#"><i class="icon-user"></i>{{ file.owner.get_profile.getName }}</a></div>
  <div class="points-and-views">
    <strong>{{ file_type }}:</strong> <span class="karma-points">10 points</span>
    <span class="views">{{ file.viewCount }} views</a>
  </div>
  {% include "file-actions.html" with file=file %}
  <div class="clear"></div>
</div>
