{% extends "base.html" %}
{% load url from future %}

{% block header %}

<link rel="stylesheet" type="text/css" href="/static/css/homepage-carousel/tango/skin.css">
{% endblock %}

{% block content %}
<div class="container">
  <!-- Static navbar -->
  <div class="navbar">
    <div class="navbar-inner">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/"><img src="/static/img/logo.png" class="logo-mark">
      </a>
    </div> <!-- .navbar-inner -->
  </div> <!-- .navbar -->

<!-- OLD -->
  <div class="hero-unit">
    <div class="clear"></div>
    <div class="block">
      <div class="call-to-action">
        <h1>Email Confirmed!</h1>
        <br/>
        <p>It's you after all! We're redirecting you to your profile...</p>
      </div>
      </div>
      <div class="clear"></div>
    </div> <!-- .block -->
  </div> <!-- .hero-unit -->

{% include 'footer.html' %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="static/js/jquery.screwdefaultbuttons.min.js"></script>

<script type="text/javascript">

$(document).ready(function(){

  // redirect to profile in 3 sec
  setTimeout("location.href='{{redirect_url}}'", 2000);
});

</script>
{% endblock %}
