{% load check_file_ownership %}
<div class="file-info">
      <span class="user">Uploaded by <a href="#"><i class="icon-user"></i>{{file.owner.get_profile.getName }}</a></span>
      <span class="download"><a href="/file/{{file.pk}}"><i class="icon-paper-clip"></i>View file</a></span>
      {% if not file|ownedBy:user.pk %}
      <span class="karma-points">-10 points</span>
      <span class="views">{{file.viewCount}} Views
      </span>
</div>
      {% else %}
      <span class="karma-points">OWNED</span>
      <span class="views">{{file.viewCount}} Views
      </span>
</div>
{% endif %}