{% extends "index.html" %}
{% load url from future %}

{% block content %}

<div id="home">
    <h1 style="font-size:3  00%">KarmaNotes.org</h1>
    <br/><br/>
    <img src="/static/img/ohm.png"/>
    <br/><br/>
    <h2>{{stats.numStudyGuides}} Study Guides and {{stats.numNotes}} Notes</h2>
    <br/>
    <a style="font-size:20px; padding:10px" class="shadow btn btn-primary" href="{% url 'upload' %}">Upload a Note</a>
    <br/><br/>

    {% if recent_files %}
      <h3>Recently Uploaded Files</h3>
      <div id="recent-files" style="padding:10px;width:80%;text-align:center;margin-left:auto;margin-right:auto;">

    {% for file in recent_files %}
      <div class="breadcrumb" style="display:inline-block; padding:8px;border:1px solid gray;">
        <div><a href="/file/{{file.pk}}">{{file.title}}</a></div>
        <div>
        {% if file.type == "N" %}
        Note
        {% elif file.type == "S" %}
        Syllabus
        {% elif file.type == "E" %}
        Exam
        {% elif file.type == "G" %}
        Study Guide
        {% elif file.type == "A" %}
        Assignment
        {% endif %}
        | {{file.school}}</div>
      </div>
    {% endfor %}
    </div> <!-- #recent-files -->
    {% endif %}
</div> <!-- #home -->
{% endblock %}
