{% extends "base.html" %}
{% load url from future %}

{% block header %}

<script type="text/javascript" src="static/js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="static/js/jquery.screwdefaultbuttons.min.js"></script>

<script type="text/javascript">
function mycarousel_initCallback(carousel) {
  // Disable autoscrolling if the user clicks the prev or next button.
  carousel.buttonNext.bind('click', function() {
    carousel.startAuto(0);
  });

  carousel.buttonPrev.bind('click', function() {
    carousel.startAuto(0);
  });

  // Pause autoscrolling if the user moves with the cursor over the clip.
  carousel.clip.hover(function() {
    carousel.stopAuto();
  }, function() {
    carousel.startAuto();
  });
};

jQuery(document).ready(function() {
  jQuery('#mycarousel').jcarousel({
    vertical: true,
    auto: 2,
    scroll: 1,
    wrap:'circular',
    itemFallbackDimension: 300,
    initCallback: mycarousel_initCallback
  });
});

</script>
{% endblock %}

{% block content %}
<div class="container">

  <div class="hero-unit">
    <div class="vidholder">
      <img src="http://placehold.it/350x280" width="350" height="280">
    </div>
    <div class="block">
      <h1>Share notes.</h1>
      <h1>Ace your exams.</h1>
      <h2>Upload your notes to get instant access to over 503,933 study materials. Free.</h2>
      <div class="call-to-action">
        <div class="upload">
          <a class="button" data-toggle="modal" href="#upload">UPLOAD FILE</a>
        </div>
        <div class="instant">for instant access</div>
        <div class="clear"></div>
        <div class="dragdrop">Or drag + drop anywhere on this page</div>
      </div>
      <div class="clear"></div>
    </div> <!-- .block -->
  </div> <!-- .hero-unit -->



  <!-- uploads carousel -->
  <h2>Recently uploaded notes</h2>

  <ul id="mycarousel" class="jcarousel jcarousel-skin-tango">
    {% for file in recent_files %}
    <li> <!-- begin one file -->
      <div class="file row-fluid">
        <div class="file icon"></div>
        <div class="file-title">
          <a href="/file/{{ file.id }}">{{ file.title }}</a>
        </div>
        <div class="file-description">
          {{ file.description }}
        </div>
        <div class="file-info-action hide row">
          {% include "file-info.html" with file=file %}
        </div> <!-- .file-info-action -->
      </div> <!-- .file .row-fluid -->
    </li> <!-- end one file -->
    {% endfor %}
  </ul>
</div> <!-- #home -->
{% endblock %}
