<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<!-- Bootstrap CSS Toolkit styles -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<title>Karma Notes</title>
<meta name="google-site-verification" content="uVEr4TwuWwovidBozQG-TRZblTLEsi0l4qxxi5rw71w" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<!--<script src="js/vendor/jquery.ui.widget.js"></script>
<script src="js/jquery.iframe-transport.js"></script>
<script src="js/jquery.fileupload.js"></script> -->
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- Le fav and touch icons -->
<!--<link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'> -->
<link rel="shortcut icon" href="images/favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
<style type="text/css">
  #container {
    margin-top:60px;
    font-size: 18px;
    text-align: center;
  }
  .header {
    font-size:50px;
    color: #025DB8;
  }
  #drop-area {
    height: 360px;
    position: relative;
    z-index: 0;
  }
  #drop-instruction {
    font: bold 24px Helvetica;
    padding-bottom: 20px;
  }
  #ohm-image {
    opacity: 0.1;
    width: 300px;
  }
  #browseForNotes {
    height: 306px;
    margin-top: 3em;
  }
  #searchBySchool{
    width:500px;
    margin: 0 auto;
    text-align: left;
  }
  .schoolBtn {
    width: 100%;
    background-color: #4D4E4F;
    border:5px solid white;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 5px 5px 10px;
  }
  .coursesOfSchool {
    display: none;
    width: 600px;
    margin-left: 20px;
    cursor: pointer;
  }
  .courseBtn {
    width:100%;
    padding: 5px 5px 5px 10px;
    background-color: #ffffff;
  }
  .notesOfCourse{
    font-size:14px;
    margin-left: 40px;
    text-align:left;
  }
  footer {
    padding: 20px;
  }
  #searchForNotesBtn,
  #profileBtn,
  #aboutBtn {

  }
</style>
</head>

<body>
  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a style="vertical-align:middle"class="brand" href="#"><img style="vertical-align:middle" src="/static/img/ohm_icon.png"></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a id="uploadNotesBtn" href="/">Upload</a></li>
              <li><a id="searchForNotesBtn" href="/search">Search</a></li>
              <li><a id="profileBtn" href="#">Profile</a></li>
              <li><a id="aboutBtn" href="#">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div id="container" class="container-fluid">

  {% block content %}
  

  <table id="file-list" style="background:#ffffff;opacity:1;width:70%;cell-padding:5px;margin-left:auto;margin-right:auto;margin-top:-320px;z-index:1">
  </table>
{% endblock %}
{% block stuff %}
{% endblock %}
</div> <!-- /container -->


<!-- Also allow form file selection?
    <input class="btn" id="fileupload" type="file" name="files[]" multiple>
<div class="progress progress-striped active">
  <div class="bar" id="progress" style="width: 0%;"></div>
</div>
-->

{% block scripts %}
<script>
$(document).ready(function() {
  // get school and course info: (example)
  // <div id="4e5bb37258200ed9aabc6d65-Btn" class="schoolBtn">Brown</div>
  // <div id="Brown-Courses" class="coursesOfSchool">
  //   <div id="4e5bb37258200ed9aabc5d65" class="courseBtn">Accounting 101</div>
  //   <div id="4e5bb37258200ed9aabc5d66" class="courseBtn">Computer Science 50</div>
  //   <div id="4e5bb37258200ed9aabc5d67" class="courseBtn">Economics 10</div>
  // </div><!-- Brown-Courses -->
  $.getJSON('/searchBySchool', function(schoolsArr) {
    $.each(schoolsArr, function(idx, school) {
      // add a schoolBtn for each school;
      $('#searchBySchool').prepend(
        $('<div/>', {class:'schoolBtn',
                     id:   school._id + "-Btn",
                     text: school.name})
      );
      // add a coursesOfSchool div immediately following;
      $('#' + school._id + '-Btn').after(
        $('<div/>', {class:'coursesOfSchool',
                     id: school.name + '-Courses'})
      );
      // add the courses inside coursesOfSchool;
      $.each(school.courses, function(idx, course) {
        $('#' + school.name + '-Courses').append(
          $('<div/>', {id: course._id,
                       class: 'courseBtn',
                       text: course.title})
        );
      });
    });
  });

  // =========================================================================
  // toggle to browseForNotes "page" and back;
  $('#searchForNotesBtn').click(function (event) {
    // $('#drop-area').fadeToggle();
    // $('#browseForNotes').fadeToggle();
    //if ($("#searchForNotesBtn").text() == "Search") {
      $('#drop-area').hide();
      $('#browseForNotes').fadeIn(1000);
      //$("#searchForNotesBtn").text("Upload");
    //} else {
    //  $('#browseForNotes').hide();
    //  $('#drop-area').fadeIn(1000);
    //  $("#searchForNotesBtn").text("Search");
    });
  $('#uploadNotesBtn').click(function (event) {
      $('#browseForNotes').hide();
      $('#drop-area').fadeIn(1000);
  });

  // =========================================================================
  // schoolBtn click handler: 1) clicking on open school closes it; clicking on
  // closed school opens it and closes any open school; 2) retrieves notes for
  // all courses of the school;
  $('#searchBySchool').on("click", ".schoolBtn", function() {
    var clickedWasNotOpen = !$(this).hasClass('open');
    // target 'em all (tough for the CPU);
    $('.coursesOfSchool').slideUp('normal');
    // again, do 'em all!
    $('.schoolBtn').removeClass('open');
    if (clickedWasNotOpen) {
      $(this).addClass('open').next().slideDown('normal');
    }
    // fetch the notes if not already loaded;
    if (!$(this).hasClass('hasNotes')) {
      $(this).addClass('hasNotes');
      var schoolID = this.id.slice(0, -4);
      $.getJSON('/notesOfSchool/' + schoolID, function(schoolArr) {
        // returns a one-element array: [ {
        //   id: xxx,
        //   name: "Harvard",
        //   courses: [ {...}, {...}, {....} ]
        // } ]
        $.each(schoolArr[0].courses, function(idx, course) {
          var listItems = "";
          $.each(course.notes, function(idx, note){
            listItems += "<div><a href=\"/note/"+note._id+"\">" + note.notedesc + "</a></div>";
          });
          $('#' + course._id).after(
              $('<div class="notesOfCourse" style="display: none;">' +
                listItems + '</div>')
          );
        });
      });
    }
  });

  //=================================
  // courseBtn click handler: clicking on open course closes it; clicking on
  // closed course opens it and closes any open course;
  $('#searchBySchool').on("click", ".courseBtn", function() {
    // open course accordion to display notes;
    var clickedWasNotOpen = !$(this).hasClass('open');
    // target 'em all (tough for the CPU);
    $('.notesOfCourse').slideUp('normal');
    // again, do 'em all!
    $('.courseBtn').removeClass('open');
    if (clickedWasNotOpen) {
      $(this).addClass('open').next().slideDown('normal');
    }
  });

  var fileListHeaderDrawn = false;
  function nodeToString ( node ) {
    var tmpNode = document.createElement( "div" );
    tmpNode.appendChild( node.cloneNode( true ) );
    var str = tmpNode.innerHTML;
    tmpNode = node = null; // prevent memory leaks in IE
    return str;
  }
  /*
    For the time being we'll disable drag-n-drop uploads
  $(function () {
    progressBarContainer = document.createElement("div"),
    progressBar = document.createElement("div");
    $('#file-list').fileupload({
      dataType: 'json',
      url: 'http://karmanotes.org:8080',
      done: function (e, data) {
          $.each(data.result, function (index, file) {
            fileList = document.getElementById("file-list");
            tr = document.createElement("tr");

            progressBarContainer.className = "progress progress-striped active";
            progressBar.className = "bar";
            progressBarContainer.appendChild(progressBar);

            if (fileListHeaderDrawn == false){
              headerRow = document.createElement("tr");
              headerRow.innerHTML = "<td><b>Name</b></td><td><b>Size</b></td><td><b>Progress</b></td>"
              fileList.appendChild(headerRow);
              fileListHeaderDrawn = true;
            }

            fileInfo = "<td>"+file.name +"</td>";
            fileInfo += "<td>"+ (Math.round(file.size/(100000))/10) + " MB</td>";
            fileInfo += "<td>" + nodeToString( progressBarContainer)+"</td>";
            tr.innerHTML = fileInfo;
            fileList.appendChild(tr);
          });
      },
      progress: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        progressBar.style.width = progress+"%";
        //alert(progressBar.style.width);
        if (progress == 100){
          progressBar.style.width = "0%";
          progressBarContainer.innerHTML = "Done";
        }
      } // end progress
    }); // end file list populating
  }); // end file drag-n-drop
*/
}); // $(document).ready
</script>
{% endblock %}
</body>
</html>
