{% extends 'navigation.html' %}

{% block title %}
  Karma Events
{% endblock %}

{% block navinner %}
<div class="wrap">
<div id="profile-container">
<div>
  <h2>Karma Events</h2>
  This is a list of activities that have added or subtracted to your karma score
</div>

<table id="events" class="table">
  <tbody>
  {% for event in events %}
    <tr>
      <td>
        <i class="icon-plus-sign"></i> 
      </td>
      <td>
        {% include 'karma_events/person_log.html' with event=event %}<br/>
      </td>
      <td style="text-align: right;">
      at {{ event.timestamp }}
      </td>
    </tr>
  {% endfor %}
  </tbody
</table>
</div><!-- #profile-container -->
</div><!-- .wrap -->

{% endblock %}
