{% extends 'navigation.html' %}

{% block title %}
  Karma Events
{% endblock %}

{% block navinner %}
<div>
  <h2>Karma Events</h2>
  This is a list of activities that have added or subtracted to your karma score
</div>

<table id="events" class="table">
  <tbody>
  {% for event in events %}
    <tr>
      <td>
        <i class="icon-plus-sign"></i> 
      </td>
      <td>
        You added {{ event }}
        {% if event.course %}
          to <a href="#">{{ event.course.title }}</a>
        {% endif %}
      </td>
      <td style="text-align: right;">
      at {{ event.timestamp }}
      </td>
    </tr>
  {% endfor %}
  </tbody
</table>

{% endblock %}
