{% load url from future %}

{% block scripts %}

<!-- Django-Ajax-Uploader -->
<script src="{{ STATIC_URL }}ajaxuploader/js/fileuploader.js" ></script>
<script src="{{ STATIC_URL }}/js/modal-upload.js" ></script>
<link href="{{ STATIC_URL }}ajaxuploader/css/fileuploader.css" media="screen" rel="stylesheet" type="text/css" />
{# TODO: Break this script into a js template file #}
<script>
  // modal-upload.js arguments
  var ajax_upload_url = "{% url 'ajax_upload' %}";
  var csrf_token = "{{csrf_token}}";
  // Store file_pk received by ajaxUploader
/*

    // Upload form submit listener
    $('#upload').on("submit", "form", function(){

      // Determine model this form relates to
      if($(this).hasClass("school"))
        var type = "school";
      else if($(this).hasClass("course"))
        var type = "course";

      // School / Course Search Forms
      if($(this).hasClass('search-form')){
        //TODO abort query on blank input. Find nearest element with class 'text-input' (There is only one per search form)
        var url = "/smartModelQuery";
        if ($(this).hasClass("course")){
          // attach the school to the request
          url +="?school="+school_pk;
        }
          // Serialize form data for POSTing
          var form_data = $(this).serializeArray();
          $.post(url, form_data,function(data){
            smartModelQueryResponseHandler(data, type);
          });
      }
      // School / Course Create Forms
      else if($(this).hasClass('model-form')){
        // Model Create Form endpoint

        if($(this).hasClass("course")){
          // populate add Course hidden school field
          console.log("populating CourseForm.school: " + school_pk);
          $("#id_school").val(school_pk);
          // Serialize form data for POSTing
          var form_data = $(this).serializeArray();
        }
        else if($(this).hasClass("school")){
          var form_data = $(this).serializeArray();
        }
        url = "/add";
        $.post(url, form_data,
          function(data){
            // Request Complete callback
            console.log("return data: "+data);
            console.log(data.status);
            addModelResponseHandler(data, type);
        });
      }
    // File Meta Data Form
    else if($(this).hasClass('file-form')){
      if(file_pk == -1){
        alert("You must upload a file before proceeding!");
        return false;
      }
      url = "/filemeta";
      $("#file-form-file_pk").val(file_pk);
      // Re-Serialize form data for POSTing
      var form_data = $(this).serializeArray();
      $.post(url, form_data,
          function(data){
            // Request Complete callback
            console.log("return data: "+data);
            console.log(data.status);
            handleFileDataResponse(data);
        });

    }
      // do not pass submit event to DOM event handler
      return false;

    });

    // Handles response from /fileMeta
    function handleFileDataResponse(data){
      if (data.status == "success"){
        alert("Success!");
      }
      else{
        $("#file-div").html(data);
      }
    }
    // Handles response from /add
    function addModelResponseHandler(data, type){
      // The model was successfully created
      // The response contains a JSON dic
      // fields: model_name , model_pk 
      if(data.status == "success"){
        console.log("model created");
        if(type == "school"){
          school_pk = data.model_pk;
          school_name = data.model_name;
          $("#school-selection-input").val(school_name);
          $("#school-create-div").fadeOut('fast', function(){
            $("#school-search-div").fadeIn('fast');
            // show school selection field
            proceedToCourseSearch();
          });
        }
        else if(type == "course"){
          course_pk = data.model_pk;
          course_name = data.model_name;
          $("#course-selection-input").val(course_name);
          $("#course-create-div").fadeOut('fast', function(){
            // show course selection field
            $("#course-search-div").fadeIn('fast');
              // show file meta-data form
            $("#file-div").fadeIn('fast');
          });
        }

      }
      // Else there were form errors, and the response contains
      // the html representing the bound form with error text
      else{
        if(type == "school"){
          $("#school-create-div").fadeOut('fast', function(){
            $("#school-create-div").html(data);
            $("#school-create-div").fadeIn('fast');
          });
        }
        else if(type == "course"){
          $("#course-create-div").fadeOut('fast', function(){
            $("#course-create-div").html(data);
            $("#course-create-div").fadeIn('fast');
          });
        }

      }

    }
    // Handles response from /smartModelQuery
    function smartModelQueryResponseHandler(data, type){
      // A model matching query was found
      if(data.status == "success"){
        console.log("model found!");
        if(type == "school"){
          school_pk = data.model_pk;
          school_name = data.model_name;
          proceedToCourseSearch();
          /*
          $("#school-search-div").fadeOut('fast', function(){
            // show school selection field
            proceedToCourseSearch();
          });
          *//*
        }
        else if(type == "course"){
          course_pk = data.model_pk;
          course_name = data.model_name;
          $("#course-selection-input").val(course_name);
              // show file meta-data form
          $("#file-div").fadeIn('fast');
        }
      }
      // No model matching query found. Present create form
      else{
        console.log("no model found!");
        if(type == "school"){
          $("#school-create-div").html(data);
          $("#school-search-div").fadeOut('fast', function(){
            $("#school-create-div").fadeIn('fast');
          });
        }
        else if(type == "course"){
          $("#course-create-div").html(data);
          $("#course-search-div").fadeOut('fast', function(){
            $("#course-create-div").fadeIn('fast');
          });
        }
      }
    }

    // Show School Selection and Course Search
    // Fade out divs from last state before calling
    function proceedToCourseSearch(){
      //$("#school-selection-input").val(school_name);

      // initiate course search
      // connect jQuery autocomplete to #course-search-input
      $("#course-search-input").autocomplete({
      source: function(request, response){
          $.ajax({
              url: "/courses?school="+school_pk,
              data: {'q': request.term },
              success: function(data) {
                  if (data != 'CACHE_MISS')
                  {
                      response($.map(data, function(item) {
                          return {
                              label: item[1],
                              value: item[1],
                              real_value: item[0]
                          };
                      }));
                  }
              },
              dataType: "json"
          });
      },
      select: function(event, ui) { 
        // ensure suggestion is populated before submit
        $("#course-search-input").val(ui.item.label);
        // trigger submit
        $("#course-search-input").submit();  
      },
      minLength: 3
      });
      $("#course-search-div").fadeIn('fast');

    }

// Model Check pre-Create btn-click listeners
$("#container").on("click", "#select-suggestion", function() {
console.log("model-suggestion: "+ $("#model-suggestions option:selected").val());
  if($("#model-suggestions").hasClass("course")){
    course_pk = $("#model-suggestions option:selected").val();
    course_name = $("#model-suggestions option:selected").html();
    console.log(course_name);
    // Set course-select-input to suggestion and show it
    $("#course-search-input").val(course_name);
    $("#course-create-div").fadeOut('fast', function(){
      $("#course-search-div").fadeIn('fast');
        // show file meta-data form
      $("#file-div").fadeIn('fast');
    });
  }
  else if($("#model-suggestions").hasClass("school")){
    console.log("school class");
    school_pk = $("#model-suggestions option:selected").val();
    school_name = $("#model-suggestions option:selected").html();
    // Clear course selection on new School
    $("#course-search-input").val("");
    $("#school-search-input").val(school_name);
    $("#school-create-div").fadeOut('fast', function(){
      $("#school-search-div").fadeIn('fast');
      proceedToCourseSearch();
    });
    
  }
});

// User clicks "Create School" after confirming desired model does not exist
$("#container").on("click", "#create-model", function() {
  $("#model-suggestions-div").fadeOut('fast', function(){
    $("#create-model-form").fadeIn('fast');
  });
  
});

    // Set jquery Autocomplete on School Search
    $("#school-search-input").autocomplete({
        source: function(request, response){
            $.ajax({
                url: "/schools",
                data: {'q': request.term },
                success: function(data) {
                    if (data != 'CACHE_MISS')
                    {
                        response($.map(data, function(item) {
                            return {
                                label: item[1],
                                value: item[1],
                                real_value: item[0]
                            };
                        }));
                    }
                },
                dataType: "json"
            });
        },
        select: function(event, ui) { 
          // ensure suggestion is populated before submit
          $("#school-search-input").val(ui.item.label)
          // clear course-search-input in case it is populated
          $("#course-search-input").val("");
          // trigger submit event on auto-complete suggestion
          $("#school-search-input").submit();  
        },
        minLength: 3
    });
*/
</script>
{% endblock %}

{% block content %}
<div class="modal-backdrop fade in" style="display: none;"></div>
<div id="upload" class="modal hide fade in" style="display:none;">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <span><h3>Upload a file</h3></span><span>2MB limit. Supports .doc, .docx, .pdf, .rtf, and .txt file</span>
  </div> <!-- .modal-header -->
  <!-- File select / drag-n-drop -->
  <div style="margin-left:200px;padding-bottom:50px;" id="file-uploader">
    <noscript>
      <p>Please enable JavaScript to use file uploader.</p>
    </noscript>
  </div> <!-- #file-uploader -->
  <p class="help-block"></p>

  <div class="modal-body">
    <div id="modal-body-progress" style="display:none">
      <!-- Progress bar -->
      <h3>Your file is uploading...</h3>
      <div class="progress progress-striped active progress-karma">
        <div class="bar" id="progress-bar" style="width: 0%;"></div>
      </div>
    </div>

    <!-- modal-metadata-form -->
    <div class="form-horizontal" id="modal-metadata-form" style="display:none">
      <div class="control-group" style="display:none">
        <label class="control-label" for="input01">Upload File</label>
        <div class="controls">
          <input type="file" class="input-file" id="file-upload">
          <p class="help-block">2MB limit. Upload a .doc, .docx, .pdf, .rtf, or .txt file</p>
        </div>
      </div> <!-- #control-group -->

      <div id="modal-school">
      <form id="modal-school-form">
      <fieldset>
        <legend>What's your university?</legend>
        <div class="control-group">
          <label class="control-label" for="modal-school-input">Your University</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="modal-school-input" placeholder="ex. Harvard University">
            <div class="school not-found" id="school-suggestions" style="display:none">
            </div> <!-- .not-found -->
          </div> <!-- .controls -->
        </div> <!-- .control-group -->
      </fieldset>
    </form><!--#modal-school-form-->
      </div> <!-- #modal-school-->
      <div id="modal-course" style="display:none">
        <form id="modal-course-form">
        <fieldset>
        <legend>About your notes</legend>
        <div class="control-group">
          <label class="control-label" for="modal-course-input">Course Name</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="modal-course-input" placeholder="ex. Social Analysis 10">
            <div class="course not-found" id="course-suggestions" style="display:none">
            </div> <!-- .not-found -->
          </div> <!-- .controls -->
        </div> <!-- .control-group -->
      </fieldset>
      </form><!-- #modal-course-form-->
      </div><!-- #modal-course-->
      <div id="modal-misc" style="display:none">
      <fieldset>
        <div class="control-group file-type">
          <label class="control-label" for="input01">File type</label>
          <div class="controls">
            <label class="radio inline">
              <input id="note" type="radio" value="note" name="optionsRadio" checked>
              <i class="icon-paper-clip"></i>
              <div class="type-label">Note</div>
              <span class="karma-points">+5 points</span>
            </label>
            <label class="radio inline">
              <input id="study-guide" type="radio" value="study-guide" name="optionsRadio">
              <i class="icon-copy"></i>
              <div class="type-label sg">Study&nbsp;Guide</div>
              <span class="karma-points">+5 points</span>
            </label>
            <label class="radio inline">
              <input id="syllabus" type="radio" value="syllabus" name="optionsRadio">
              <i class="icon-file"></i>
              <div class="type-label">Syllabus</div>
              <span class="karma-points">+5 points</span>
            </label>
            <label class="radio inline">
              <input id="exam" type="radio" value="exam" name="optionsRadio">
              <i class="icon-book"></i>
              <div class="type-label">Exam</div>
              <span class="karma-points">+5 points</span>
            </label>
            <label class="radio inline">
              <input id="assignment" type="radio" value="assignment" name="optionsRadio">
              <i class="icon-pencil"></i>
              <div class="type-label">Assignment</div>
              <span class="karma-points">+5 points</span>
            </label>

          </div> <!-- .controls -->
        </div> <!-- .control-group .file-type -->
      </fieldset>
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="modal-title-input">Note Title</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="input01" placeholder="ex. Midterm study guide">

          </div> <!-- .controls -->
        </div> <!-- .control-group -->
        <div class="control-group">
          <label class="control-label" for="modal-description-input">Description</label>
          <div class="controls">
            <textarea class="input-xlarge" id="input01" placeholder="ex. Includes lectures 1-7 and reading summaries for the first half of the semester."></textarea>
          </div> <!-- .controls -->
        </div> <!-- .control-group -->
        <div class="control-group">
          <label class="control-label" for="input01">Captcha</label>
          <div class="controls">
             CAPTCHA THING HERE
          </div> <!-- .controls -->
        </div> <!-- .control-group -->
        <div class="control-group">
          <label class="control-label" for="input01">&nbsp;</label>
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" id="modal-current-course" value"current-course"> Check if you're currently in this course.
            </label>
            <label class="checkbox">
              <input type="checkbox" id="modal-tos-agree" value"current-course"> I agree to the <a href="#">Terms of Use</a>.
            </label>
          </div> <!-- .controls -->
        </div> <!-- .control-group -->
        <div class="form-actions">
          <a class="button" id="modal-meta-submit" type="submit">FINISH UPLOAD</a>
        </div>
      </fieldset>
    </div><!-- #modal-misc -->
  </div>
</div>


{% endblock %}
