{% extends "index.html" %}
{% load url from future %}

{% block scripts %}
<style type="text/css">
.text-input{
  padding:10px;
  font-size:20px;
}
</style>

<!-- Django-Ajax-Uploader -->
<script src="{{ STATIC_URL }}ajaxuploader/js/fileuploader.js" ></script>
<link href="{{ STATIC_URL }}ajaxuploader/css/fileuploader.css" media="screen" rel="stylesheet" type="text/css" />
<script>
  // Store file_pk received by ajaxUploader
  var file_pk = -1;

  // Keep track of Wizard state
  // state == School : School search / create forms
  // state == Course : Course search / create forms
  // state == File   : Upload File form
  var state = "";
  // Keep track of user's School, Course selection (pks) for 
  // inclusion in final File Upload Form
  var school_pk = "";
  var course_pk = "";

  // School and Course titles for instructions
  var school_name = "None";
  var course_name = "None";

  // After DOM loads
  $(document).ready(function() {
    // Configure AJAX file uploader
    var uploader = new qq.FileUploader({
        action: "{% url 'ajax_upload' %}",
        element: $('#file-uploader')[0],
        multiple: false,
        onComplete: function(id, fileName, responseJSON) {
            if(responseJSON.success) {
                //alert("success! file_pk: " + responseJSON.file_pk);
                file_pk = responseJSON.file_pk;
            } else {
                alert("upload failed!");
            }
        },
        onAllComplete: function(uploads) {
            // uploads is an array of maps
            // the maps look like this: {file: FileObject, response: JSONServerResponse}
            console.log("upload:");
            console.log(uploads);
            //alert("All complete!");
            // Hide file uploader
            
            $('#file-uploader').fadeOut('fast', function(){
              $('#file-uploader').html("<h2> File uploaded!</h2>");
              $('#file-uploader').fadeIn('fast');
            });
        },
        params: {
            'csrf_token': '{{ csrf_token }}',
            'csrf_name': 'csrfmiddlewaretoken',
            'csrf_xname': 'X-CSRFToken',
        },
    });
  });

    // Form submit listener
    $('#container').on("submit", "form", function(){

      // Determine model this form relates to
      if($(this).hasClass("school"))
        var type = "school";
      else if($(this).hasClass("course"))
        var type = "course";

      // School / Course Search Forms
      if($(this).hasClass('search-form')){
        //TODO abort query on blank input. Find nearest element with class 'text-input' (There is only one per search form)
        var url = "/smartModelQuery";
        if ($(this).hasClass("course")){
          // attach the school to the request
          url +="?school="+school_pk;
        }
          // Serialize form data for POSTing
          var form_data = $(this).serializeArray();
          $.post(url, form_data,function(data){
            smartModelQueryResponseHandler(data, type);
          });
      }
      // School / Course Create Forms
      else if($(this).hasClass('model-form')){
        // Model Create Form endpoint

        if($(this).hasClass("course")){
          // populate add Course hidden school field
          console.log("populating CourseForm.school: " + school_pk);
          $("#id_school").val(school_pk);
          // Serialize form data for POSTing
          var form_data = $(this).serializeArray();
        }
        else if($(this).hasClass("school")){
          var form_data = $(this).serializeArray();
        }
        url = "/add";
        $.post(url, form_data,
          function(data){
            // Request Complete callback
            console.log("return data: "+data);
            console.log(data.status);
            addModelResponseHandler(data, type);
        });
      }
    // File Meta Data Form
    else if($(this).hasClass('file-form')){
      if(file_pk == -1){
        alert("You must upload a file before proceeding!");
        return false;
      }
      url = "/filemeta";
      $("#file-form-file_pk").val(file_pk);
      // Re-Serialize form data for POSTing
      var form_data = $(this).serializeArray();
      $.post(url, form_data,
          function(data){
            // Request Complete callback
            console.log("return data: "+data);
            console.log(data.status);
            handleFileDataResponse(data);
        });

    }
      // do not pass submit event to DOM event handler
      return false;

    });

    // Handles response from /fileMeta
    function handleFileDataResponse(data){
      if (data.status == "success"){
        alert("Success!");
      }
      else{
        $("#file-div").html(data);
      }
    }
    // Handles response from /add
    function addModelResponseHandler(data, type){
      // The model was successfully created
      // The response contains a JSON dic
      // fields: model_name , model_pk 
      if(data.status == "success"){
        console.log("model created");
        if(type == "school"){
          school_pk = data.model_pk;
          school_name = data.model_name;
          $("#school-selection-input").val(school_name);
          $("#school-create-div").fadeOut('fast', function(){
            $("#school-search-div").fadeIn('fast');
            // show school selection field
            proceedToCourseSearch();
          });
        }
        else if(type == "course"){
          course_pk = data.model_pk;
          course_name = data.model_name;
          $("#course-selection-input").val(course_name);
          $("#course-create-div").fadeOut('fast', function(){
            // show course selection field
            $("#course-search-div").fadeIn('fast');
              // show file meta-data form
            $("#file-div").fadeIn('fast');
          });
        }

      }
      // Else there were form errors, and the response contains
      // the html representing the bound form with error text
      else{
        if(type == "school"){
          $("#school-create-div").fadeOut('fast', function(){
            $("#school-create-div").html(data);
            $("#school-create-div").fadeIn('fast');
          });
        }
        else if(type == "course"){
          $("#course-create-div").fadeOut('fast', function(){
            $("#course-create-div").html(data);
            $("#course-create-div").fadeIn('fast');
          });
        }

      }

    }
    // Handles response from /smartModelQuery
    function smartModelQueryResponseHandler(data, type){
      // A model matching query was found
      if(data.status == "success"){
        console.log("model found!");
        if(type == "school"){
          school_pk = data.model_pk;
          school_name = data.model_name;
          proceedToCourseSearch();
          /*
          $("#school-search-div").fadeOut('fast', function(){
            // show school selection field
            proceedToCourseSearch();
          });
          */
        }
        else if(type == "course"){
          course_pk = data.model_pk;
          course_name = data.model_name;
          $("#course-selection-input").val(course_name);
              // show file meta-data form
          $("#file-div").fadeIn('fast');
        }
      }
      // No model matching query found. Present create form
      else{
        console.log("no model found!");
        if(type == "school"){
          $("#school-create-div").html(data);
          $("#school-search-div").fadeOut('fast', function(){
            $("#school-create-div").fadeIn('fast');
          });
        }
        else if(type == "course"){
          $("#course-create-div").html(data);
          $("#course-search-div").fadeOut('fast', function(){
            $("#course-create-div").fadeIn('fast');
          });
        }
      }
    }

    // Show School Selection and Course Search
    // Fade out divs from last state before calling
    function proceedToCourseSearch(){
      //$("#school-selection-input").val(school_name);

      // initiate course search
      // connect jQuery autocomplete to #course-search-input
      $("#course-search-input").autocomplete({
      source: function(request, response){
          $.ajax({
              url: "/courses?school="+school_pk,
              data: {'q': request.term },
              success: function(data) {
                  if (data != 'CACHE_MISS')
                  {
                      response($.map(data, function(item) {
                          return {
                              label: item[1],
                              value: item[1],
                              real_value: item[0]
                          };
                      }));
                  }
              },
              dataType: "json"
          });
      },
      select: function(event, ui) { 
        // ensure suggestion is populated before submit
        $("#course-search-input").val(ui.item.label);
        // trigger submit
        $("#course-search-input").submit();  
      },
      minLength: 3
      });
      $("#course-search-div").fadeIn('fast');

    }

// Model Check pre-Create btn-click listeners
$("#container").on("click", "#select-suggestion", function() {
console.log("model-suggestion: "+ $("#model-suggestions option:selected").val());
  if($("#model-suggestions").hasClass("course")){
    course_pk = $("#model-suggestions option:selected").val();
    course_name = $("#model-suggestions option:selected").html();
    console.log(course_name);
    // Set course-select-input to suggestion and show it
    $("#course-search-input").val(course_name);
    $("#course-create-div").fadeOut('fast', function(){
      $("#course-search-div").fadeIn('fast');
        // show file meta-data form
      $("#file-div").fadeIn('fast');
    });
  }
  else if($("#model-suggestions").hasClass("school")){
    console.log("school class");
    school_pk = $("#model-suggestions option:selected").val();
    school_name = $("#model-suggestions option:selected").html();
    // Clear course selection on new School
    $("#course-search-input").val("");
    $("#school-search-input").val(school_name);
    $("#school-create-div").fadeOut('fast', function(){
      $("#school-search-div").fadeIn('fast');
      proceedToCourseSearch();
    });
    
  }
});

// User clicks "Create School" after confirming desired model does not exist
$("#container").on("click", "#create-model", function() {
  $("#model-suggestions-div").fadeOut('fast', function(){
    $("#create-model-form").fadeIn('fast');
  });
  
});

    // Set jquery Autocomplete on School Search
    $("#school-search-input").autocomplete({
        source: function(request, response){
            $.ajax({
                url: "/schools",
                data: {'q': request.term },
                success: function(data) {
                    if (data != 'CACHE_MISS')
                    {
                        response($.map(data, function(item) {
                            return {
                                label: item[1],
                                value: item[1],
                                real_value: item[0]
                            };
                        }));
                    }
                },
                dataType: "json"
            });
        },
        select: function(event, ui) { 
          // ensure suggestion is populated before submit
          $("#school-search-input").val(ui.item.label)
          // clear course-search-input in case it is populated
          $("#course-search-input").val("");
          // trigger submit event on auto-complete suggestion
          $("#school-search-input").submit();  
        },
        minLength: 3
    });

</script>
{% endblock %}

{% block content %}
<div style="width:400px;margin-right:auto;margin-left:auto;"> <!-- Container -->
  <!-- File select / drag-n-drop -->
  <div style="margin-left:200px;padding-bottom:50px;" id="file-uploader">       
          <noscript>          
              <p>Please enable JavaScript to use file uploader.</p>
          </noscript>         
  </div>

  
  <div id="school" style="margin-left:auto;margin-right:auto">
    <!-- School Search -->
    <div class="search-form school" id="school-search-div">
      <form class="form-horizontal search-form school" id="school-search-form" enctype="multipart/form-data" action="/upload" method="post">
        <fieldset>
          <input id='search-input-type' type='hidden' name='type' value='School' />
          {% csrf_token %}
          <div class="control-group">
            <label style="font-size:20px"class="control-label">School</label>
            <div class="controls">
                <input id="school-search-input" type="text" class="text-input" name="title" maxlength="127">
                <span style="display:none;" class="course" id="course-search-input-verified">OK</span>
                <span class="help-inline">{{field.errors}}</span>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <!-- School Create. Populated with ajax response -->
    <div style="display:none;margin-left:auto;margin-right:auto" class="form model-form" id="school-create-div">
    </div>
  </div> <!-- end school div -->

  
  <div id="course" style="margin-left:auto;margin-right:auto">
    <!-- Course Search -->
    <div style="display:none;" class="search-form course" id="course-search-div">
      <form class="form-horizontal search-form course" id="course-search-form" enctype="multipart/form-data" action="/upload" method="post">
        <fieldset>
          <input id='search-input-type' type='hidden' name='type' value='Course' />
          {% csrf_token %}
          <div class="control-group">
            <label style="font-size:20px"class="control-label">Course</label>
            <div class="controls">
                <input id="course-search-input" type="text" class="text-input" name="title" maxlength="127">
                <span class="help-inline">{{field.errors}}</span>
            </div>
          </div>
        <br/>
        </fieldset>
      </form>
    </div>
    <!-- Course Create. Populated with ajax response -->
    <div style="display:none;margin-left:auto;margin-right:auto" class="form model-form" id="course-create-div">
    </div>
  </div>

  <!-- File Upload -->
<div style="display:none" class="form" id="file-div" >
  {% if message %}
  <h4 id="file-form-message">{{ message }}</h4><br/>
  {% endif %}
  <form id="file-form" class="form-horizontal file-form" enctype="multipart/form-data" action="/upload" method="post">
    <fieldset>
      {% csrf_token %}
      {% for field in file_form.hidden_fields %}
        {{field}}
      {% endfor %}
      {% for field in file_form.visible_fields %}
      <div class="control-group">
        <label style="font-size:20px"class="control-label">
          {% if field.field.required %}
            <b>{{field.label}}</b>
          {% else %}
            {{field.label}}
          {% endif %}</label>
        <div class="controls">
            {{ field }}
            <span class="help-inline">{{field.errors}}</span>
        </div>
      </div>
    {% endfor %}<br/>
    <input style="font-size:20px; padding:10px" class="btn btn-primary" type="submit" value="Upload!" />
    </fieldset>
  </form>
  </div>

</div> <!-- End Container -->
{% endblock %}