<div class="modal-backdrop fade in" style="display: none;" ></div>
<div class="modal" id="share" class="modal hide fade in" style="display:none;">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Share Karma Notes</h3>
  </div>
  <div class="modal-body">
    <p>Spread the love. Share your unique invite link for <span class="karma-points">+5 points</span> per signup.</p>
    <div class="social-share">
      <!-- facebook share -->
      <span class="inset-border">
        <span class="social-icon">
          <a id="fb-link" name="fb_share" type="icon_link" share_url="/signup/{{ user_profile.hash }}">
          <span class="fb-icon"><i class="icon-facebook"></i></span>
          <strong>Share on Facebook</strong></a> 
          <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
                  type="text/javascript">
          </script>
        </span> <!-- .social-icon -->
      </span> <!-- .inset-border -->
      <!-- end facebook share -->
  </div>
  <div class="copy-paste-link">
    <div class="title">
      <h3>Or, copy & paste your unique link:</h3><br />
    </div>
    <div class="wrap">
      <form class="input-prepend">
        <span class="add-on"><i class="icon-cut"></i></span>
        {# TODO: implement domain name in settings for url generation #}
        <input id="social-link" type="text" value="/signup/{{ user_profile.hash }}" name"social-link" class="span3">
      </form>
      <div style="clear:both"></div>
    </div> <!-- .wrap -->
  </div> <!-- .copy-paste-link -->
</div> <!-- #share .modal -->

