{% extends "base.html" %}
{% load url from future %}

{% block title %}
  Your Personal Profile Page {{ user.get_profile.getName }}
{% endblock %}


{% block header %}

  <script type="text/javascript">

  var current_karma = {{ user.get_profile.karma }};
  var editing_profile = false;

  $(document).ready(function(){

    {% if not request.user.get_profile.submitted_school %}
    // user has not submitted school, show karma reward
    $('#school-karma').show();
    $('#school-select-div').show();
    {% endif %}
    {% if not request.user.get_profile.submitted_grad_year %}
    $('#year-karma').show();
    $('#gradyear-select-div').show();
    {% endif %}

    // enable karma over popover info box
    $('#karma-info').popover('hide');

    $('.dropdown-toggle').dropdown();

    $("div.showmore").click(function () {
            $(this).nextAll('div.file').slideToggle('slow');
      });

    $('input:radio').screwDefaultButtons({
                 checked: "url({{STATIC_URL}}img/check.jpg)",
                 unchecked: "",
                 width: 50,
                 height: 50
              });

    // Handle browse notes view
    var browse_view_initialized = false;
    $('.container').on("click", "#browse-notes", function(){
      console.log("BROWSE INTERCEPT");
      if(!browse_view_initialized){
        initializeBrowseView();
        browse_view_initialized = true;
      }
      $('#search-results').hide();
      $('#profile-container').hide();
      $('#file-view').hide();
      $('#searchBySchool').show();

    });

    // Handle KarmaNotes logo click
     $('.container').on("click", ".brand", function(){
      console.log("LOGO INTERCEPT");
      $('#profile-container').show();
      $('#file-view').hide();
      $('#searchBySchool').hide();
      $('#search-results').hide();

    });

     // Handle view file click
     $('.container').on("click", ".view-file", function(){
      console.log("FILE VIEW INTERCEPT");
      file_pk = $(this).attr("id");

      $.ajax({
        url: "/file/"+file_pk,
        success: function(data){
          $('#file-view').hide();
          $('#profile-container').hide();
          $('#searchBySchool').hide();
          $('#search-results').hide();
          $('#file-view').html(data);
          $('#file-view').show();
        }
      });


    });

     // Handle setting up modal-upload form from course upload button
     $('.container').on("click", '.course-upload',  function(){
      console.log("preparing form");
      course = Object();
      course.pk = $(this).attr('course-pk');
      course.name = $(this).attr('course-name');
      school = Object();
      school.pk = $(this).attr('school-pk');
      school.name = $(this).attr('school-name');
        clearForm(course, school);
     });

     // Handle setting up modal-upload from generic
     // 'Upload notes' button
     
     $('.container').on("click", '.generic-upload', function(){
      console.log("clearing form");
      clearForm();
     });

    // Handle username edit in place click
    $("#edit-profile").on("click", function(e){
      e.preventDefault();
      // Remove profile field selectors
      // The edit-profile link is in "done" state
      if(editing_profile == true){
        editing_profile = false;
        $('#edit-profile').html("edit");
        $("#username-form").hide();
        $('#school-select-div').hide();
        $('#gradyear-select-div').hide();
        $('#alias-label-profile').show();
      }
      else{
        editing_profile = true;
        $('#edit-profile').html("done");

        // show alias editing field
        $("#alias-label-profile").hide();
        // If the user has no alias set,
        // show username as alias input initial value
        if($("#alias-label-profile").text() == "")
          alias = $("#username-label-profile").text();
        else
          alias = $("#alias-label-profile").text();
        console.log("edit username: " + alias);
        $("#username-input").val(alias);
        $("#username-form").show();
        // show school, gradyear selects
        $('#school-select-div').show();
        $('#gradyear-select-div').show();
      }

    });

    // Handle username edit in place form submit
    $("#username-form").on("submit", function(e){
      e.preventDefault();
      request_data = {};
      console.log("form submit");
      request_data['alias'] = $("#username-input").val();
      console.log("alias: " + request_data['alias']);
      editProfile(request_data, alias_callback);
    });

    // Handle profile school submission
    $(".select").on("change",function(){
      request_data = {};
      //console.log($(this).val());
      //console.log($("#school-select option:selected").val());
      if($(this).hasClass("school")){
        val = $("#school-select option:selected").val();
        if(val != "..."){
          console.log("submit school");
          request_data['school'] = val;
          editProfile(request_data, school_callback);
        }
      }else if($(this).hasClass("year")){
        val = $("#year-select option:selected").val();
        request_data['year'] = val;
        editProfile(request_data, year_callback);
      }

    });

    // Search
    $('.nav-collapse').on("submit", ".navbar-search", function(event){
      event.preventDefault(); // ensure no DOM handling
      console.log("SEARCH INTERCEPT");
      if($('#navbar-search-input').val() !== ""){
        window.location = '/search?q=\''+$('#navbar-search-input').val()+'\'';
        return false; // do not pass event on to DOM handler
      }
    });

    /*
    'Old' ajax search
    // Handle search request from navbar search
    $('.nav-collapse').on("submit", ".navbar-search", function(event){
      event.preventDefault(); // ensure no DOM handling
      console.log("SEARCH INTERCEPT");
      if($('#navbar-search-input').val() !== ""){
        ajaxSearchQuery($('#navbar-search-input').val(), search_callback);
        return false; // do not pass event on to DOM handler
      }
    });
    */

  // handle search response
  var search_callback = function(data){
    console.log(data);
    $('#file-view').hide();
    $('#profile-container').hide();
    $('#searchBySchool').hide();
    $('#search-results').fadeOut('fast', function(){
      $('#search-results').html(data).fadeIn('fast');
    });

  };

  // perform ajax /search query
  function ajaxSearchQuery(query, callback){
    $.ajax({
      url: "/search",
      data: {'q': query},
      success: callback
    });
  }

}); // end on document ready


    function editProfile(request_data, callback){
      $.ajax({
              url: "/editProfile",
              data: request_data,
              success: callback,
              dataType: "json"
          });
    }

    function year_callback(data){
      if(data.status === "success"){
        $("#year-karma").fadeOut('slow', function(){
          $("#gradyear-select-div").slideUp('slow',function(){
            $("#year-label").html(data.year).fadeIn('slow');
            if(data.karma){
              console.log(data.karma);
              animate_karma(data.karma);
            }
          });
        });
      }
    }

    function school_callback(data){
      if(data.status === "success"){
        $("#school-karma").fadeOut('slow', function(){
          $("#school-select-div").slideUp('slow',function(){
            $("#school-label").html(data.school).fadeIn('slow');
            if(data.karma){
              console.log(data.karma);
              animate_karma(data.karma);
              $('#add-school-alert').slideUp('slow');
            }
          });
        });
      }
    }

    function alias_callback(data){
      if(data.status === "success"){
        console.log("Alias callback!");
        console.log(data.alias);
        $("#username-form").hide();
        // show username-alias-label?
        $(".alias-label").text(data.alias);
        $("#alias-label-profile").show();
      }
    }

    function animate_karma(delta_karma){
      // TODO: current_level can become out of sync b/t
      // page refreshes
      current_level = "{{ current_level.title|upper }}";
      current_karma += delta_karma
      end_karma = {{ request.user.get_profile.getLevel.next_level.karma }};
      new_progress = (current_karma + delta_karma) / (end_karma)*100;
      console.log(String(new_progress+'%'));
      $('#karma-progress').animate({
        width: String(new_progress+'%'),
      }, 5000);
      // bug: hide/showing the karma-hover-label 
      // breaks the label placement
      //$('#karma-hover-label').fadeOut('fast');
      $('#karma-label').fadeOut('fast', function(){
        $('#karma-label').html(current_level + " (" + String(current_karma + delta_karma) + ")").fadeIn('fast');
        $('#karma-hover-label').html(String(current_karma + delta_karma) + " POINTS");
      });

    }
  </script>

  <!--<script SRC="/static/js/search.js"></script>-->
  <!--<script SRC="/static/js/browse.js"></script>-->
  <script src="/static/js/jquery.screwdefaultbuttons.min.js"></script>

{% endblock %}

{% block content %}


<div class="wrap">
<div class="profile-page container">
  <div class="row">
    <div class="span3 left-sidebar">
      <ul class="nav nav-list">
        {% load navactive %}
        <li class="{% navactive request 'your-courses' %}">
          <a id="your-courses" href="/your-courses">
            <i class="icon-home"></i>
            Your courses
          </a>
        </li>
        <li class="{% navactive request 'browse browse-schools' %}">
          {# TODO: link to your school's courses of school has been set #}
          <a id="browse-notes" href="/browse/schools">
            <i class="icon-book"></i>
            Browse
          </a>
        </li>
        <li class="{% navactive request 'karma-events' %}">
          <a id="karma-events" href="/karma-events">
            <i class="icon-time"></i>
            Karma events
          </a>
        </li>
        <li class="{% navactive request 'getting-started' %}">
          <a id="karma-events" href="/getting-started">
            <i class="icon-circle-arrow-up"></i>
            Getting started
          </a>
        </li>
        <li>
          <a href="#share" class="karma" data-toggle="modal">
            <i class="icon-share"></i>
            Share KarmaNotes
            <div class="share-karma">Earn <span class="karma">5 points</span> for every signup</div>
          </a>
        </li>
        <li>
          <a href="#upload" class="karma generic-upload" data-toggle="modal">
            <i class="icon-share"></i>
            Upload notes
            <div class="share-karma">Earn <span class="karma">5-10 points</span> for every upload</div>
          </a>
        </li>
      </ul>

      <h3>Profile<span style="padding-left:10px"><a id="edit-profile">edit</a></span></h3>
      <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
            <img alt="" src="{{ user.get_profile.picture_url_large }}">
            <div class="caption">
              <div>
                <span class="username-label" id="username-label-profile">{{ user.username }}</span>
              </div>
              <div>
                <span class="alias-label-description">Alias:</span>
                <span class="alias-label" id="alias-label-profile">{% if user.username != user.get_profile.getName %}{{user.get_profile.getName}}{% endif %}</span>
                <form class="span2" id="username-form" action="#" style="display:none">
                  <input class="span2" name="username" id="username-input"></input>
                  This is your public alias, you'll still login with your original username ({{request.user.username}})
                </form>
              </div>

              <br><br>

              <!-- progress bar -->
              <p>Karma Points</p>
              <div class="progress progress-karma" id="karma-info" rel="popover" 
                data-content="Prospect (10 points) - Search and view documents and thank uploaders<br/>
                Beginner (100 points) - Add a school and comment on courses<br/>
                Trainee (200 points) - Edit course and note meta data<br/>
                Apprentice (500 points) - Flag documents<br/>
                Scholar (2000 points) - Moderate documents for your school<br/>
                Leader (4000 points) - Edit your school’s CSS">
                <div id="karma-progress" class="bar"
                     style="width: {{progress}}%;"></div>
                  <div class="current-karma" style="">
                      <span id="karma-hover-label" class="karma-points"{% if user.get_profile.karma < 1 %} style="background: red;"{% endif %}>{{ user.get_profile.karma }} points</span>
                  </div>
              </div>
              <div class="karma-label">
                <div class="karma-label-left" id="karma-label">{{ current_level.title|upper }} ({{ user.get_profile.karma }})</div>
                <div class="karma-label-right">{{ next_level.title|upper }} {% if next_level %} ({{ next_level.karma }}) {% endif %}</div>
                <div style="clear:both"></div>
              </div>

              <p>Karma Status: <div class="karma-status">{{ current_level.title }}</div></p>

              <p><span>School:</span><span style="margin-left:5px" id="school-label">{{ user_profile.school }}</span></p>
              <div id="school-select-div" style="display:none">
                <select style="padding-top:5px" id="school-select" class="span2 select school">
                  <option>...</option>
                  {% for school in available_schools %}
                  <option value="{{school.1}}">{{school.0}}</option>
                  {% endfor %}
                </select>
              </div><span id="school-karma" style="display:none" class="karma-points">+5&nbsp;points</span>
              <p style="padding-top:5px"><span>Year of Graduation:</span><span style="margin-left:5px" id="year-label">{{ user_profile.grad_year }}</span></p>
              <div id="gradyear-select-div" style="display:none">
                <select id="year-select" class="span2 select year">
                  <option>...</option>
                  {% for year in available_years %}
                  <option>{{year}}</option>
                  {% endfor %}
                </select>
              </div><span id="year-karma" style="display:none"class="karma-points">+5&nbsp;points</span>
            </div>
          </div>
        </li>
      </ul>
      <div id="foot">
        <div id="license">
          This website's content is openly licened <br/>
          CC-by-sa-3.0
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">
            <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" />
          </a>
        </div> <!-- #license -->
        <div class="btn-group">
          <a class="btn" href="{% url 'about' %}">
            About
          </a>
          <a class="btn" href="{% url 'terms' %}">
            Terms
          </a>
          <a class="btn dropdown-toggle" data-toggle="dropdown">
            More ▾
          </a>
          <ul class="dropdown-menu">
            <li><a href="http://github.com/FinalsClub/djKarma/">Open Source Code</a></li>
            <li><a href="http://www.reddit.com/r/karmanotes">Feedback / Discussion</a></li>

          </ul> <!-- .dropdown-menu -->
        </div>
        <br/>
      </div> <!-- #foot -->
    </div> <!-- .span3 -->

    <div class="span9">
      <!-- Static navbar -->
      <div class="navbar">
        <div class="navbar-inner">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"><img src="/static/img/logo.png" class="logo-mark"></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="" id="menu0">
                <form class="navbar-search input-append form-search">
                  <input type="text" class="input-medium search-query" id="navbar-search-input" placeholder="Search">
                  <a type="submit" class="btn button">Go</a>
                </form>
              </li>
              {% if user.is_authenticated %}
              <li class="dropdown" id="menu1">
                <a class="dropdown-toggle farthest-right" data-toggle="dropdown" href="#menu1">
                  {{ user.get_profile.getName }}
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'django.contrib.auth.views.logout' %}">Sign out</a></li> {# TODO: implement this as an ajax call #}
                </ul>
              </li>
              {% else %}
              {% include 'modal_login.html' %}
              {% endif %}
            </ul> <!-- .nav -->
          </div><!--/.nav-collapse -->
        </div> <!-- .navbar-inner -->
        <div class="clear"></div>
      </div> <!-- .navbar -->
      {% block navinner %}
      <div id="profile-container">
        <h2>Welcome, <span class="alias-label">{{ user.get_profile.getName }}</span>!</h2>

        {% comment %}
        {# disabling messages for now #}
        {# ------ Messages ------ #}
        {% for message in messages %}
        <div class="alert alert-success" id="{{message.div_id}}">
          <button class="close" data-dismiss="alert">x</button>
          {{ message.body}}
        </div> <!-- .alert .alert-success -->
        {% endfor %}
        {% endcomment%}

        <!-- BEGIN COURSE LISTINGS -->
        <!-- one course -->
        <div class="course-listing">
          {% if user.get_profile.courses.all %}
            <h3>Your Courses</h3>
            {% for course in user.get_profile.courses.all %}
              {% include 'course.html' with course=course %}
            {% endfor %}
          {% else %}
            <h3>You haven't added any courses yet</h3>
            <p>Would you like to </p>
            <div class="upload">
              <a class="button" data-toggle="modal" href="#upload">Upload notes</a>
            </div>
          {% endif %}
        </div> <!-- .course-listing -->

        <div class="file-listing collapse in" id="course-unique-1">
        </div> <!-- #course-unique-1 .file-listing .collapse .in -->

      </div><!-- #profile-container -->
{% endblock %}
    </div> <!-- .span-9  -->
  </div> <!-- .row -->
</div> <!-- .wrap -->
</div> <!-- .profile-page .container -->

{% endblock %}
