{% extends "base.html" %}
{% load url from future %}

{% block title %}
  Your Personal Profile Page {{ user.get_profile.getName }}
{% endblock %}


{% block header %}

  <script type="text/javascript">

  var current_karma = {{ user.get_profile.karma }};
  var user_pk = {{user.pk}};

  $(document).ready(function(){
    $('.dropdown-toggle').dropdown();

    $("div.file.row-fluid").hover(function () {
          $(this).children('.file-info-action').toggleClass("hide");
      });

    $("div.showmore").click(function () {
            $(this).nextAll('div.file').slideToggle('slow');
      });

    $('input:radio').screwDefaultButtons({
                 checked: "url(/static/img/check.jpg)",
                 unchecked: "",
                 width: 50,
                 height: 50
              });

    // Handle browse notes view
    var browse_view_initialized = false;
    $('.container').on("click", "#browse-notes", function(){
      console.log("BROWSE INTERCEPT");
      if(!browse_view_initialized){
        initializeBrowseView();
        browse_view_initialized = true;
      }
      $('#search-results').hide();
      $('#profile-container').hide();
      $('#file-view').hide();
      $('#searchBySchool').show();
      
    });

    // Handle KarmaNotes logo click
     $('.container').on("click", ".brand", function(){
      console.log("LOGO INTERCEPT");
      $('#profile-container').show();
      $('#file-view').hide();
      $('#searchBySchool').hide();
      $('#search-results').hide();

    });

     // Handle view file click
     $('.container').on("click", ".view-file", function(){
      console.log("FILE VIEW INTERCEPT");
      file_pk = $(this).attr("id");

      $.ajax({
        url: "/file/"+file_pk,
        data: {'user_pk': user_pk},
        success: function(data){
          $('#file-view').hide();
          $('#profile-container').hide();
          $('#searchBySchool').hide();
          $('#search-results').hide();
          $('#file-view').html(data);
          $('#file-view').show();
        }
      });


    });

    // Handle username edit in place click
    $("#edit-username").on("click", function(e){
      e.preventDefault();
      $("#alias-label-profile").hide();
      $("#edit-alias-label").hide();
      // If the user has no alias set, 
      // show username as alias input initial value
      if($("#alias-label-profile").text() == "")
        alias = $("#username-label-profile").text();
      else
        alias = $("#alias-label-profile").text();
      console.log("edit username: " + alias);
      $("#username-input").val(alias);
      $("#username-form").show();
    });

    // Handle username edit in place form submit
    $("#username-form").on("submit", function(e){
      request_data = { 'user': {{user.pk}} };
      e.preventDefault();
      console.log("form submit");
      request_data['alias'] = $("#username-input").val();
      console.log("alias: " + request_data['alias']);
      editProfile(request_data, alias_callback);
    });

    // Handle profile school submission
    $(".select").on("change",function(){
      request_data = { 'user': {{user.pk}} };
      //console.log($(this).val());
      //console.log($("#school-select option:selected").val());
      if($(this).hasClass("school")){
        val = $("#school-select option:selected").val();
        if(val != "..."){
          console.log("submit school");
          request_data['school'] = val;
          editProfile(request_data, school_callback);
        }
      }else if($(this).hasClass("year")){
        val = $("#year-select option:selected").val();
        request_data['year'] = val;
        editProfile(request_data, year_callback);
      }
      
    });

    // Handle search request from navbar search
    $('.nav-collapse').on("submit", ".navbar-search", function(event){
      event.preventDefault(); // ensure no DOM handling
      console.log("SEARCH INTERCEPT");
      if($('#navbar-search-input').val() !== ""){
        ajaxSearchQuery($('#navbar-search-input').val(), search_callback);
        return false; // do not pass event on to DOM handler
      }
    });

  // handle search response
  var search_callback = function(data){
    console.log(data);
    $('#file-view').hide();
    $('#profile-container').hide();
    $('#searchBySchool').hide();
    $('#search-results').fadeOut('fast', function(){
      $('#search-results').html(data).fadeIn('fast');
    });
  
  };

  // perform ajax /search query
  function ajaxSearchQuery(query, callback){
    $.ajax({
      url: "/search",
      data: {'q': query , 'user': user_pk},
      success: callback
    });
  }

}); // end on document ready


    function editProfile(request_data, callback){
      $.ajax({
              url: "/editProfile",
              data: request_data,
              success: callback,
              dataType: "json"
          });
    }

    function year_callback(data){
      if(data.status === "success"){
        $("#year-karma").fadeOut('slow', function(){
          $("#year-select").slideUp('slow',function(){
            $("#year-label").html(data.year).fadeIn('slow');
            if(data.karma){
              console.log(data.karma);
              animate_karma(data.karma);
            }
          });
        });
      }
    }

    function school_callback(data){
      if(data.status === "success"){
        $("#school-karma").fadeOut('slow', function(){
          $("#school-select").slideUp('slow',function(){
            $("#school-label").html(data.school).fadeIn('slow');
            if(data.karma){
              console.log(data.karma);
              animate_karma(data.karma);
              $('#add-school-alert').slideUp('slow');
            }
          });
        });
      }
    }

    function alias_callback(data){
      if(data.status === "success"){
        console.log("Alias callback!");
        console.log(data.alias);
        $("#username-form").hide();
        // show username-alias-label?
        $("#edit-alias-label").show();
        $(".alias-label").text(data.alias);
        $("#alias-label-profile").show();
      }
    }

    function animate_karma(delta_karma){
      current_karma += delta_karma
      end_karma = {{ next_level.karma }};
      new_progress = (current_karma + delta_karma) / (end_karma)*100;
      console.log(String(new_progress+'%'));
      $('#karma-progress').animate({
        width: String(new_progress+'%'),
      }, 5000);
      $('#karma-label').fadeOut('fast', function(){
        $('#karma-label').html(current_karma + delta_karma).fadeIn('fast');
      });
      
    }
  </script>

  <!--<script SRC="/static/js/search.js"></script>-->
  <script SRC="/static/js/browse.js"></script>
  <script src="/static/js/jquery.screwdefaultbuttons.min.js"></script>
  <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"> </script>

{% endblock %}

{% block content %}


<div class="profile-page container">
  <div class="row">
    <div class="span3">
      <ul class="nav nav-list">
        <li class="active">
          <a id="browse-notes" href="/browse">
            <i class="icon-book"></i>
            Browse notes
          </a>
        </li>
        <li>
          <a href="#share" class="karma" data-toggle="modal">
            <i class="icon-user"></i>
            Share KarmaNotes
            <div class="share-karma">Earn <span class="karma">5 points</span> for every signup</div>
          </a>
        </li>
      </ul>

      <h3>Profile</h3>
      <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
            <img alt="" src="http://placehold.it/230x100">
            <div class="caption">
              <div>
                <span class="username-label" id="username-label-profile">{{ user.username }}</span>
              </div>
              <div>
                <span class="alias-label-description">Alias:</span>
                <span class="alias-label" id="alias-label-profile"> {% if user.username != user.get_profile.getName %}{{user.get_profile.getName}} {% endif %} </span>
                <span id="edit-alias-label" style="margin-left:5px"><a href="#" id="edit-username">edit</a></span>
                <form class="span2" id="username-form" action="#" style="display:none">
                  <input class="span2" name="username" id="username-input"></input>
                  This is your public alias, you'll still login with your original username ({{request.user.username}})
                </form>
              </div>
              
              <br><br>

              <!-- progress bar -->
              <p>Karma Points</p>
              <div class="progress progress-karma">
                <div id="karma-progress" class="bar"
                     style="width: {{progress}}%;"></div>
              </div>
              <div class="karma-label">
                <div class="karma-label-left" id="karma-label">{{ user.get_profile.karma }}</div>
                <div class="karma-label-right">{{ next_level.title}} {% if next_level %} ({{ next_level.karma }}) {% endif %}</div>
                <div style="clear:both"></div>
              </div>

              <p>Karma Status: <div class="karma-status">{{ current_level.title }}</div></p>

              <p><span>School:</span><span style="margin-left:5px" id="school-label">{{ user_profile.school }}</span></p>
              {% if not user_profile.school %}
              <select style="padding-top:5px" id="school-select" class="span2 select school">
                <option>...</option>
                {% for school in available_schools %}
                <option value="{{school.1}}">{{school.0}}</option>
                {% endfor %}
              </select><span id="school-karma" class="karma-points">+5&nbsp;points</span>
              {% endif %}
              <p style="padding-top:5px"><span>Year of Graduation:</span><span style="margin-left:5px" id="year-label">{{ user_profile.grad_year }}</span></p>
              {# TODO: make this display inline if filled out #}
              {% if not user_profile.grad_year %}
              <select id="year-select" class="span2 select year">
                <option>...</option>
                {% for year in available_years %}
                <option>{{year}}</option>
                {% endfor %}
              </select><span id="year-karma" class="karma-points">+5&nbsp;points</span>
              {% endif %}
            </div>
          </div>
        </li>
      </ul>
    </div> <!-- .span3 -->

    <div class="span9">
      <!-- Static navbar -->
      <div class="navbar">
        <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#"><img src="./static/img/karma-logo.png" class="logo-mark"><span class="logo-karma">Karma</span><span class="logo-notes">Notes</span></a>
            <div class="nav-collapse">
              <ul class="nav">
                <li class="" id="menu0">
                  <form class="navbar-search input-append form-search">
                    <input type="text" class="input-medium search-query" id="navbar-search-input" placeholder="Search">
                    <a type="submit" class="btn button">Go</a> 
                  </form>
                </li>
              </ul>
            </div><!--/.nav-collapse -->

        </div>
      <div class="clear"></div>
      </div>
      <!-- File view goes here -->
      <div id="file-view" style="display:none">
      </div>
      <!-- Search results go here -->
      <div id="search-results" style="display:none">
      </div>
      <!-- Note browsing goes her -->
      <div id="searchBySchool" style="display:none">
      </div>
      <div id="profile-container">
      <h2>Welcome, <span class="alias-label">{{ user.get_profile.getName }}</span>!</h2>

      {# ------ Messages ------ #}
      {% for message in messages %}
      <div class="alert alert-success" id="{{message.div_id}}">
        <button class="close" data-dismiss="alert">x</button>
        {{ message.body}}
      </div> <!-- .alert .alert-success -->
      {% endfor %}
      <!--
      <div class="alert alert-success">
        <button class="close" data-dismiss="alert">x</button>
        Success! <i class="icon-paper-clip"></i>
        Sample message for a success, you earned <span class="karma-points">+5 points</span>. Would you like to <a href="%">upload another</a>?
      </div> <!-- .alert .alert-success -->
      {# ------ End Messages ------ #}

      <!-- Carousel items -->
      <div id="myCarousel" class="carousel slide">
        <span class="counter">
          <span class="karma">2/5</span> profile completion tasks left
        </span>

        <p>You need <span class="karma">5 more karma points</span> to earn your first download. How about you:</p>

        <div class="carousel-inner">

          {% for message in messages %}
          <div class="{% if forloop.first %}active {% endif %}item">
            <div class="reminder">
              <a href="#">link to do thing</a>
              {{ message.body }}
              <span class="karma-points">+10 points</span>
            </div> <!-- .reminder -->
          </div> <!-- .active .item -->
          {% endfor %}

          <!-- more sample items -->
          <div class="item">
            <div class="reminder">
              <a href="#">Make a cake</a> and get some points.
              <span class="karma-points">+10 points</span>
            </div>
          </div> <!-- .item -->

          <div class="item">
            <div class="reminder">
              <a href="#">Eat a chicken</a> and get lots of protein. <span class="karma-points">+10 points</span>
            </div>
          </div> <!-- .item -->
          <!-- end sample items -->

        </div> <!-- carousel-inner -->
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div> <!-- #myCarousel .carousel .slide -->

      <!-- BEGIN COURSE LISTINGS -->
      <!-- one course -->
      <div class="course-listing">
        {% if user.get_profile.courses.all %}
          <h3>Your Courses</h3>
          {% for course in user.get_profile.courses.all %}
          <div class="course">
            <div class="folder icon">
              <img src="/static/img/icon-folder.png">
            </div>
            <div class="course-title">
              <a href="#">{{ course.title }}</a>
              <div class="course-info">
                <span class="instructor">{% if course.instructor %}{{ course.instructor }}{% else %}No instructor listed{% endif %}</span> <i class="icon-paper-clip"></i><a href="#">{{ course.files.count }} notes</a>
                {# TODO: not yet implemented downloaded files #}
                <!--
                <span class="your-files">Your: <a href="#">Uploads (1)</a> <a href="#">Downloads (2)</a></span> -->
              </div> <!-- .course-info -->
            </div> <!-- .course-title -->

            <div class="upload">
              <a class="button" data-toggle="modal" href="#upload">Upload notes</a>
            </div>
            <div style="clear:both"></div>
          </div> <!-- .course -->
          {% endfor %}
        {% else %}
          <h3>You haven't added any courses yet</h3>
          <p>Would you like to </p>
          <div class="upload">
            <a class="button" data-toggle="modal" href="#upload">Upload notes</a>
          </div>
        {% endif %}
      </div> <!-- .course-listing -->

      <!-- begin file listing structure
      *** INACTIVE courses have "inactive" class in the wrapper
      and icon name is icon-folder-inactive.png
      {# replace this with an IF in for course in courses loop #}

      <div class="course inactive" data-toggle="collapse" data-target="#course-unique-1">
        <div class="folder icon">
          <img src="/static/img/icon-folder-inactive.png">
        </div>
        <div class="course-title">
          <a href="#">Shakespeare 101</a>
          <div class="course-info">
            <span class="instructor">Bill Spears</span> <i class="icon-paper-clip"></i><a href="#">21 notes</a>
            <span class="your-files">Your: <a href="#">Uploads (1)</a> <a href="#">Downloads (2)</a></span>
          </div>
        </div>
        <div class="upload">
          <a class="button" data-toggle="modal" href="#upload">Upload notes</a>
        </div>
        <div style="clear:both"></div>
      </div>
      end INACTIVE courses -->

      <div class="file-listing collapse in" id="course-unique-1">
        <!--
        {# makes a file for letter in your username #}
        {% for file in user.username %}
        <div class="file row-fluid">

          <div class="file icon"></div>

          <div class="file-title">
            <a href="#">Lecture 1-6 Notes</a>
          </div>

          <div class="file-description">
            This is a great file description, so much stuff, it will get cut off...
          </div>

          <div class="file-info-action hide row">
            {% include "file-info.html" with file=file user=user%}
            {% include "file-actions.html" with file=file %}
          </div> <!-- .file-info-action hide row -->
        </div> <!-- .file .row-fluid -->
        <!-- {% endfor %} -->

      </div> <!-- #course-unique-1 .file-listing .collapse .in -->
</div><!-- content container -->
</div> <!-- .profile-page .container -->

{% endblock %}
