<script>
$(document).ready(function() {
  // inject the note's html into the page
  // this method is used to preserve css data
  // in the source document without overriding
  // KarmaNotes's css
  var doc = $('#noteframe')[0].contentWindow.document;
  var $body = $('body',doc);
  $body.html('{{note.html|safe}}');
  autoResize('noteframe');

  // Resize the iframe upon html injection
  // Note: IE6 does not support contentWindow
  // Test this case
  function autoResize(id){
    var newheight;
    var newwidth;

    if(document.getElementById){
      newheight=document.getElementById(id).contentWindow.document .body.scrollHeight;
      newwidth=document.getElementById(id).contentWindow.document .body.scrollWidth;
    }

    document.getElementById(id).height= (newheight) + "px";
    //document.getElementById(id).width= (newwidth) + "px";
    //alert('height: ' + newheight);
    }
});
</script>
<div class="container">
  <div class="row">

    <div class="span9">
      <div class="row-fluid">
        <div class="span12">
          <h2>{{ note.title }}</h2>
          <div class="file-info-wrapper">
            <h4>About this Class</h4>
              <h3><a href="#">{{ note.course.title }}</a></h3>
              <strong>{{ note.course.instructor }} | {{ note.school.name }}</strong>


              <div class="class-info">
                {% if note.course.files.count >= 1 %}
                This class has <a href="#">{{ note.course.files.count }} notes</a>.
                {% endif %}
                <p><span class="your-files">You have <a href="#">1 upload </a> and <a href="#">2 downloads</a></span> from this class. </p>
              </div>

            <h4>About this file</h4>
            <div class="user">Uploaded by <a href="#"><i class="icon-user"></i>{{ note.owner.get_profile.getName }}</a></div>
            <div class="points-and-views">
              <strong>{{ note_type }}:</strong> <span class="karma-points">10 points</span>
              <span class="views">{{ note.viewCount }} views</a>
            </div>
            {% include "file-actions.html" with file=note %}
            <div class="clear"></div>
          </div>
          <div class="note-text">
            <iframe style="border:none; width:100%;" id="noteframe" >Note viewing requires iframe support </iframe>
          </div> <!-- .note-text -->
        </div> <!-- .span12 -->
      </div> <!-- .row-fluid -->
    </div> <!-- .span9 -->
  </div> <!-- .row -->
</div> <!-- .container -->

