{% extends 'index.html' %}
{% block content %}
{{schools}}
<h2>foo bar baf:</h2>
<br/>
<div style='width:500px;text-align:left'>
<ul style='align:left'>
{% for school, courses in schools.items %}
  <li> University: {{ school }} :</li>
  {% for course, notes in courses.items %}
    Course: {{ course.title }}
    <ul>
    {% for note in notes %}
      <li>Note: {# TODO: add a link here to html #}{{ note.title }}</li>
    {% endfor %} {# end note #}
    </ul>
  {% endfor %} {# end course #}
{% endfor %} {# end school #}
</ul>
</div>

{% endblock %}
