{% extends "base.html" %}

{% block scripts %}
<script>
$(document).ready(function() {
	// inject the note's html into the page
	// this method is used to preserve css data
	// in the source document without overriding
	// KarmaNotes's css
	var doc = $('#noteframe')[0].contentWindow.document;
	var $body = $('body',doc);
	$body.html('{{note.html|safe}}');
	autoResize('noteframe');

	// Resize the iframe upon html injection
	// Note: IE6 does not support contentWindow
	// Test this case
	function autoResize(id){
	    var newheight;
	    var newwidth;

	    if(document.getElementById){
	        newheight=document.getElementById(id).contentWindow.document .body.scrollHeight;
	        newwidth=document.getElementById(id).contentWindow.document .body.scrollWidth;
	    }

	    document.getElementById(id).height= (newheight) + "px";
	    //document.getElementById(id).width= (newwidth) + "px";
	    //alert('height: ' + newheight);
		}
});
</script>
{% endblock %}

{% block content %}
<div class="row">
  {% include "sidebar.html" %}

  <div class="span9">
    <div class="row-fluid">
      <div class="span12">
        <h2>{{ note.title }}</h2>
        <div class="file-info-wrapper">
          <h4>About this Class</h4>
            <h3><a href="#">{{ note.class.title }}</a></h3>
            <strong>{{ note.class.instructor }} | {{ note.school }}</strong>


            <div class="class-info">
              This class has <a href="#">{{ note.class.files.count }}</a>.
              <p><span class="your-files">You have <a href="#">1 upload </a> and <a href="#">2 downloads</a></span> from this class. </p>
            </div>

          <h4>About this file</h4>
          <div class="user">Uploaded by <a href="#"><i class="icon-user"></i>USERNAME</a></div>
          <div class="points-and-views">
            <strong>Study Guide:</strong> <span class="karma-points">10 points</span>
            <span class="views">{{ note.viewCount }} views</a>
          </div>
          <div class="file-actions">
            {# TODO, connect these #}
            <a href="#"><i class="icon-heart"></i>Like (5)</a>
            <a href="#"><i class="icon-flag"></i>Flag</a>
            <a href="#"><i class="icon-pencil"></i>Edit</a>
            <a href="#"><i class="icon-remove-circle"></i>Delete</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="note-text">
          {{ note.html|safe }}
        </div> <!-- .note-text -->
  </div> <!-- .span9 -->
</div> <!-- .row -->

{% endblock %}
