{% extends "new_index.html" %}
{% load url from future %}

{% block title %}
  Your Personal Profile Page {{ user.username }}
{% endblock %}


{% block header %}
  <script type="text/javascript">
    //$('.carousel('pause').carousel()')
    //$(".collapse").collapse()
  </script>

  <script type="text/javascript">

  $(document).ready(function(){
    $('.dropdown-toggle').dropdown();

    $("div.file.row-fluid").hover(function () {
          $(this).children('.file-info-action').toggleClass("hide");
      });

    $("div.showmore").click(function () {
            $(this).nextAll('div.file').slideToggle('slow');
      });

    $('input:radio').screwDefaultButtons({
                 checked: "url(/static/img/check.jpg)",
                 unchecked: "",
                 width: 50,
                 height: 50
              });

    });
  </script>
  <script src="/static/js/jquery.screwdefaultbuttons.min.js"/static/></script>
  <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"> </script>

{% endblock %}


{% block content %}


<div class="profile-page container">
  <div class="row">
    <div class="span3">
      <ul class="nav nav-list">
        <li class="active">
          <a href="#">
            <i class="icon-book"></i>
            Browse notes
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-book"></i>
            Some link
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-book"></i>
            Some other link
          </a>
        </li>
      </ul>
      <div class="social-share">
        <h3>Share Karma Notes</h3>
        <p>Spread the love. Share your invite link, invite Facebook friends, and gain <span class="karma-points">+5 points</span> per signup!</p>
        <strong>Your Link (Copy + Paste):</strong>
        <input id="social-link" type="text" value="http://karmanotes.org/40201" name"social-link" class="span3">
        <a id="fb-link" name="fb_share" type="icon_link" share_url="http://karmanotes.org/40201">
          <strong>Share on Facebook</strong>
        </a>
        <br />

      </div> <!-- .social-share -->

      <h3>Profile</h3>

      <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
            <img alt="" src="http://placehold.it/230x100">
            <div class="caption">
              <p>{{ user.username }} <a href="#">edit</a></p>
              <!-- progress bar -->
              <p>Karma Points</p>
              <div class="progress progress-karma">
                <div class="bar"
                     style="width: 60%;"></div>
              </div>
              <div class="karma-label">
                <div class="karma-label-left">n00b {{ user.karma }}</div>
                <div class="karma-label-right">l33t {{ user.karma|add:"10" }}</div>
                <div style="clear:both"></div>
              </div>

              <p>Karma Status: <div class="karma-status">Trainee</div></p>

              <p>School:</p>
              {% if profile_data.school %}
                {{ user.school }}
              {% else %}
              <select id="school-select" class="span2">
                <option>Select school</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              {% endif %}

              <p>Year of Graduation:</p>
              {# TODO: make this display inline if filled out #}
              {% if profile_data.grad_year %}
                {{ profile_data.grad_year }}
              {% else %}
              <select id="school-select" class="span2">
                <option>Select year</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              {% endif %}
            </div>
          </div>
        </li>
      </ul>
    </div> <!-- .span3 -->

    <div class="span9">
      <h2>Welcome, {{ user.username }}!</h2>

      {# for message in messages #}
      <div class="alert alert-success">
        <button class="close" data-dismiss="alert">x</button>
        Success! <i class="icon-paper-clip"></i>
        You've uploaded a file and gained <span class="karma-points">+5 points</span>. Would you like to <a href="#">upload another</a>?
      </div> <!-- .alert .alert-success -->
      {# endfor #}

      <!-- Carousel items -->
      <div id="myCarousel" class="carousel slide">
        <span class="counter">
          <span class="karma">2/5</span> profile completion tasks left
        </span>

        <p>You need <span class="karma">5 more karma points</span> to earn your first download. How about you:</p>

        <div class="carousel-inner">

          {% for message in messages %}
          <div class="{% if forloop.first %}active {% endif %}item">
            <div class="reminder">
              <a href="#">link to do thing</a>
              {{ message }}
              <span class="karma-points">+10 points</span>
            </div> <!-- .reminder -->
          </div> <!-- .active .item -->
          {% endfor %}

          <!-- more sample items -->
          <div class="item">
            <div class="reminder">
              <a href="#">Make a cake</a> and get some points.
              <span class="karma-points">+10 points</span>
            </div>
          </div> <!-- .item -->

          <div class="item">
            <div class="reminder">
              <a href="#">Eat a chicken</a> and get lots of protein. <span class="karma-points">+10 points</span>
            </div>
          </div> <!-- .item -->
          <!-- end sample items -->

        </div> <!-- carousel-inner -->
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div> <!-- #myCarousel .carousel .slide -->

      <!-- BEGIN COURSE LISTINGS -->
      <!-- one course -->
      <div class="course-listing">
        {# this is an example string to loop over (length of your username #}
        {% for course in user.username %}
        <div class="course">
          <div class="folder icon">
            <img src="/static/img/icon-folder.png">
          </div>
          <div class="course-title">
            <a href="#">{# course.title #}Underwater Basket Weaving While Having an Existential Crisis</a>
            <div class="course-info">
              <span class="instructor">{# course.instructor #}Chris Hansen</span> <i class="icon-paper-clip"></i><a href="#">{# course.files.count() provides this now #}21 notes</a>
              <span class="your-files">Your: <a href="#">Uploads (1)</a> <a href="#">Downloads (2)</a></span>
            </div> <!-- .course-info -->
          </div> <!-- .course-title -->

          <div class="upload">
            <a class="button" data-toggle="modal" href="#upload">Upload notes</a>
          </div>
          <div style="clear:both"></div>
        </div> <!-- .course -->
        {% endfor %}
      </div> <!-- .course-listing -->

      <!-- begin file listing structure
      *** INACTIVE courses have "inactive" class in the wrapper
      and icon name is icon-folder-inactive.png -->
      {# replace this with an IF in for course in courses loop #}

      <div class="course inactive" data-toggle="collapse" data-target="#course-unique-1">
        <div class="folder icon">
          <img src="/static/img/icon-folder-inactive.png">
        </div>
        <div class="course-title">
          <a href="#">Shakespeare 101</a>
          <div class="course-info">
            <span class="instructor">Bill Spears</span> <i class="icon-paper-clip"></i><a href="#">21 notes</a>
            <span class="your-files">Your: <a href="#">Uploads (1)</a> <a href="#">Downloads (2)</a></span>
          </div>
        </div>
        <div class="upload">
          <a class="button" data-toggle="modal" href="#upload">Upload notes</a>
        </div>
        <div style="clear:both"></div>
      </div>
      <!-- end INACTIVE courses -->

      <div class="file-listing collapse in" id="course-unique-1">

        {# makes a file for letter in your username #}
        {% for file in user.username %}
        <div class="file row-fluid">

          <div class="file icon"></div>

          <div class="file-title">
            <a href="#">Lecture 1-6 Notes</a>
          </div>

          <div class="file-description">
            This is a great file description, so much stuff, it will get cut off...
          </div>

          <div class="file-info-action hide row">
            <div class="file-info">
              <span class="user">Uploaded by <a href="#"><i class="icon-user"></i>USERNAME</a></span>
              <span class="download"><a href="#"><i class="icon-paper-clip"></i>View file</a></span>
              <span class="karma-points">-10 points</span>
              <span class="views">405 views</a>
            </div>
            <div class="file-actions">
              <a href="#"><i class="icon-heart"></i>Like (5)</a>
              <a href="#"><i class="icon-flag"></i>Flag</a>
              <a href="#"><i class="icon-pencil"></i>Edit</a>
              <a href="#"><i class="icon-remove-circle"></i>Delete</a>
            </div>
          </div> <!-- .file-info-action hide row -->
        </div> <!-- .file .row-fluid -->
        {% endfor %}

      </div> <!-- #course-unique-1 .file-listing .collapse .in -->





</div> <!-- .profile-page .container -->



<!-- running line of old and new
@#$%^ @#$%^ @#$%^ @#$%^ @#$%^ @#$%^ @#$%^ @#$%^ @#$%^ -->

{% endblock %}
