{% extends "index.html" %}

{% block content %}

<div id="browseForNotes">
    <h1>Browse by School and Course</h1>
    <div id="searchBySchool"></div>
    <div id="searchByTags"></div>
    <br/>
    <h2> - or - </h2>
    <br/>
    <h1>Search By Tag</h1>
      <form enctype="multipart/form-data" action="/search" method="post">{% csrf_token %}
      {{ message }}
      {% for field in tag_form %}
        <div style="font-weight:bold;margin-left:auto;margin-right:auto;width:300px">{{ field.errors }}</div>
        {{ field.label_tag }} 
        {{ field }}
      {% endfor %}<br/>
      <input class="btn btn-primary" type="submit" value="Search!" />
    </form>
  </div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
  // get school and course info: (example)
  // <div id="4e5bb37258200ed9aabc6d65-Btn" class="schoolBtn">Brown</div>
  // <div id="Brown-Courses" class="coursesOfSchool">
  //   <div id="4e5bb37258200ed9aabc5d65" class="courseBtn">Accounting 101</div>
  //   <div id="4e5bb37258200ed9aabc5d66" class="courseBtn">Computer Science 50</div>
  //   <div id="4e5bb37258200ed9aabc5d67" class="courseBtn">Economics 10</div>
  // </div><!-- Brown-Courses -->
  $.getJSON('/searchBySchool', function(schoolsArr) {
    $.each(schoolsArr, function(idx, school) {
      // add a schoolBtn for each school;
      $('#searchBySchool').prepend(
        $('<div/>', {class:'schoolBtn',
                     id:   school._id + "-Btn",
                     text: school.name})
      );
      // add a coursesOfSchool div immediately following;
      $('#' + school._id + '-Btn').after(
        $('<div/>', {class:'coursesOfSchool',
                     id: slugify(school.name) + '-Courses'})
      );
      // school.name.replace... fixes issue with spaces in css id!
      // Can't believe I missed that :)
      // add the courses inside coursesOfSchool;
      $.each(school.courses, function(idx, course) {
        $('#' + slugify(school.name) + '-Courses').append(
          $('<div/>', {id: course._id,
                       class: 'courseBtn',
                       text: course.title})
        );
      });
    });
  });

  // =========================================================================
  // toggle to browseForNotes "page" and back;
  $('#searchForNotesBtn').click(function (event) {
    // $('#drop-area').fadeToggle();
    // $('#browseForNotes').fadeToggle();
    //if ($("#searchForNotesBtn").text() == "Search") {
      $('#drop-area').hide();
      $('#browseForNotes').fadeIn(1000);
      //$("#searchForNotesBtn").text("Upload");
    //} else {
    //  $('#browseForNotes').hide();
    //  $('#drop-area').fadeIn(1000);
    //  $("#searchForNotesBtn").text("Search");
    });
  $('#uploadNotesBtn').click(function (event) {
      $('#browseForNotes').hide();
      $('#drop-area').fadeIn(1000);
  });

  // =========================================================================
  // schoolBtn click handler: 1) clicking on open school closes it; clicking on
  // closed school opens it and closes any open school; 2) retrieves notes for
  // all courses of the school;
  $('#searchBySchool').on("click", ".schoolBtn", function() {
    var clickedWasNotOpen = !$(this).hasClass('open');
    // target 'em all (tough for the CPU);
    $('.coursesOfSchool').slideUp('normal');
    // again, do 'em all!
    $('.schoolBtn').removeClass('open');
    if (clickedWasNotOpen) {
      $(this).addClass('open').next().slideDown('normal');
    }
    // fetch the notes if not already loaded;
    if (!$(this).hasClass('hasNotes')) {
      $(this).addClass('hasNotes');
      var schoolID = this.id.slice(0, -4);
      // Send user id, if logged in, to /notesOfSchool
      {% if request.user.is_authenticated %}
      $.getJSON('/notesOfSchool/' + schoolID+'?user={{request.user.pk}}', function(schoolArr) {
      {% else %}
      $.getJSON('/notesOfSchool/' + schoolID, function(schoolArr) {
      {% endif %}
        // validate json
        //alert(schoolArr);
        /*
        try{
          var theJson = $.parseJSON(schoolArr);
          alert('good json!');
        }catch(err){
          alert('malformed json!');
        }*/
        // returns a one-element array: [ {
        //   id: xxx,
        //   name: "Harvard",
        //   courses: [ {...}, {...}, {....} ]
        // } ]
        $.each(schoolArr[0].courses, function(idx, course) {
          var listItems = "";
          $.each(course.notes, function(idx, note){
            listItems += "<div><span><a href=\"/file/"+note._id+"\">" + note.notedesc + "</a></span><span>"+ note.views+" views</span>"+"<span>Uploaded by " + note.user + "</span><span>Can Vote " + note.canvote + "</span></div>";
          });
          //alert(course._id);
          $('#' + course._id).after(
              $('<div class="notesOfCourse" style="display: none;">' +
                listItems + '</div>')
          );
        });
      });
    }
  });

  //=================================
  // courseBtn click handler: clicking on open course closes it; clicking on
  // closed course opens it and closes any open course;
  $('#searchBySchool').on("click", ".courseBtn", function() {
    // open course accordion to display notes;
    var clickedWasNotOpen = !$(this).hasClass('open');
    // target 'em all (tough for the CPU);
    $('.notesOfCourse').slideUp('normal');
    // again, do 'em all!
    $('.courseBtn').removeClass('open');
    if (clickedWasNotOpen) {
      $(this).addClass('open').next().slideDown('normal');
    }
  });

  var fileListHeaderDrawn = false;
  function nodeToString ( node ) {
    var tmpNode = document.createElement( "div" );
    tmpNode.appendChild( node.cloneNode( true ) );
    var str = tmpNode.innerHTML;
    tmpNode = node = null; // prevent memory leaks in IE
    return str;
  }

  function slugify(Text)
  {
      return Text
          .toLowerCase()
          .replace(/[^\w ]+/g,'')
          .replace(/ +/g,'-')
          ;
  }
  /*
    For the time being we'll disable drag-n-drop uploads
  $(function () {
    progressBarContainer = document.createElement("div"),
    progressBar = document.createElement("div");
    $('#file-list').fileupload({
      dataType: 'json',
      url: 'http://karmanotes.org:8080',
      done: function (e, data) {
          $.each(data.result, function (index, file) {
            fileList = document.getElementById("file-list");
            tr = document.createElement("tr");

            progressBarContainer.className = "progress progress-striped active";
            progressBar.className = "bar";
            progressBarContainer.appendChild(progressBar);

            if (fileListHeaderDrawn == false){
              headerRow = document.createElement("tr");
              headerRow.innerHTML = "<td><b>Name</b></td><td><b>Size</b></td><td><b>Progress</b></td>"
              fileList.appendChild(headerRow);
              fileListHeaderDrawn = true;
            }

            fileInfo = "<td>"+file.name +"</td>";
            fileInfo += "<td>"+ (Math.round(file.size/(100000))/10) + " MB</td>";
            fileInfo += "<td>" + nodeToString( progressBarContainer)+"</td>";
            tr.innerHTML = fileInfo;
            fileList.appendChild(tr);
          });
      },
      progress: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        progressBar.style.width = progress+"%";
        //alert(progressBar.style.width);
        if (progress == 100){
          progressBar.style.width = "0%";
          progressBarContainer.innerHTML = "Done";
        }
      } // end progress
    }); // end file list populating
  }); // end file drag-n-drop
*/
}); // $(document).ready
</script>
{% endblock %}
