{% extends 'navigation.html' %}
{% load highlight %}

{% block navinner %}
{% if results|length == 0 %}
<h4>No Results </h4>
{% endif %}
{% for result in results %}
  <!-- if result is a File -->
  {% if result.object.viewCount %}

    {% include "file.html" with file=result.object %}

  <!-- if result is a Course -->
  {% elif result.object.academic_year %}

    {% include "course.html" with course=result.object %}

  <!-- if result is a School -->
  {% elif result.object.name %}
  <!-- TODO: Have Lingo make a proper school div-->
    {% include "school.html" with school=result.object %}
  {% endif %}

  {% highlight result.summary with query html_tag "div" css_class "highlight" %}
{% endfor %}
{% if page.has_previous or page.has_next %}
<!-- Previous / Next page links -->
  <div>
    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
    |
    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
  </div>
{% endif %}

{% endblock %}
