<div class="span3">
  <ul class="nav nav-list">
    <li class="active">
      <a href="/browse">
        <i class="icon-book"></i>
        Browse notes
      </a>
    </li>
    <li>
      <a href="#">
        <i class="icon-book"></i>
        Some link
      </a>
    </li>
    <li>
      <a href="#">
        <i class="icon-book"></i>
        Some other link
      </a>
    </li>
    <li>
      <a href="#share" class="karma" data-toggle="modal">
        <i class="icon-user"></i>
        Share KarmaNotes
        <div class="share-karma">Earn <span class="karma">5 points</span> for every signup</div>
      </a>
    </li>
  </ul>
 {% block sidebar_extra %}
 {% endblock %}
</div> <!-- .span3 -->
