{% load url from future %}


<!-- Django-Ajax-Uploader -->
<script src="{{ STATIC_URL }}ajaxuploader/js/fileuploader.js" ></script>
<script src="{{ STATIC_URL }}/js/modal-upload.js" ></script>
<link href="{{ STATIC_URL }}ajaxuploader/css/fileuploader.css" media="screen" rel="stylesheet" type="text/css" />
{# TODO: Break this script into a js template file #}
<script>
  // modal-upload.js arguments
  var ajax_upload_url = "{% url 'ajax_upload' %}";
  var csrf_token = "{{ csrf_token }}";

</script>

<div class="modal-backdrop fade in" style="display: none;"></div>
<div id="upload" class="modal hide fade in" style="display:none;">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <span><h3>Upload a file</h3></span><span>2MB limit. Supports .doc, .docx, .pdf, .rtf, and .txt file</span>
  </div> <!-- .modal-header -->
  <!-- File select / drag-n-drop -->
  <div style="margin-left:200px;padding-bottom:50px;" id="file-uploader">
    <noscript>
      <p>Please enable JavaScript to use file uploader.</p>
    </noscript>
  </div> <!-- #file-uploader -->
  <div id="file-uploader-label" style="display:none">
  </div>
  <p class="help-block"></p>

  <div class="modal-body">
    <div id="modal-body-progress" style="display:none">
      <!-- Progress bar -->
      <h3>Your file is uploading...</h3>
      <div class="progress progress-striped active progress-karma">
        <div class="bar" id="progress-bar" style="width: 0%;"></div>
      </div>
    </div>

    <!-- modal-metadata-form -->
    <div class="form-horizontal" id="modal-metadata-form" style="display:none">
      <div class="control-group" style="display:none">
        <label class="control-label" for="input01">Upload File</label>
        <div class="controls">
          <input type="file" class="input-file" id="file-upload">
          <p class="help-block">2MB limit. Upload a .doc, .docx, .pdf, .rtf, or .txt file</p>
        </div>
      </div> <!-- #control-group -->

      <div id="modal-school">
      <form id="modal-school-form">
      <fieldset>
        <legend>What's your university?</legend>
        <div class="control-group">
          <label class="control-label" for="modal-school-input">Your University</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="modal-school-input" placeholder="ex. Harvard University">
            <div class="school not-found" id="school-suggestions" style="display:none">
            </div> <!-- .not-found -->
          </div> <!-- .controls -->
        </div> <!-- .control-group -->
      </fieldset>
      </form><!--#modal-school-form-->
      </div> <!-- #modal-school-->
      <div id="modal-course" style="display:none">
        <form id="modal-course-form">
        <fieldset>
        <legend>About your notes</legend>
        <div class="control-group">
          <label class="control-label" for="modal-course-input">Course Name</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="modal-course-input" placeholder="ex. Social Analysis 10">
            <div class="course not-found" id="course-suggestions" style="display:none">
            </div> <!-- .not-found -->
          </div> <!-- .controls -->
        </div> <!-- .control-group -->
      </fieldset>
      </form><!-- #modal-course-form-->
      </div><!-- #modal-course-->
      <div id="modal-misc" style="display:none">
      <fieldset>
        <div class="control-group file-type">
          <label class="control-label" for="input01">File type</label>
          <div class="controls">
            <label class="radio inline">
              <input id="note" type="radio" value="N" name="optionsRadio" checked>
              <i class="icon-paper-clip"></i>
              <div class="type-label">Note</div>
              <span class="karma-points">+5 points</span>
            </label>
            <label class="radio inline">
              <input id="study-guide" type="radio" value="G" name="optionsRadio">
              <i class="icon-copy"></i>
              <div class="type-label sg">Study&nbsp;Guide</div>
              <span class="karma-points">+5 points</span>
            </label>
            <label class="radio inline">
              <input id="syllabus" type="radio" value="S" name="optionsRadio">
              <i class="icon-file"></i>
              <div class="type-label">Syllabus</div>
              <span class="karma-points">+5 points</span>
            </label>
            <label class="radio inline">
              <input id="exam" type="radio" value="E" name="optionsRadio">
              <i class="icon-book"></i>
              <div class="type-label">Exam</div>
              <span class="karma-points">+5 points</span>
            </label>
            <label class="radio inline">
              <input id="assignment" type="radio" value="A" name="optionsRadio">
              <i class="icon-pencil"></i>
              <div class="type-label">Assignment</div>
              <span class="karma-points">+5 points</span>
            </label>

          </div> <!-- .controls -->
        </div> <!-- .control-group .file-type -->
      </fieldset>
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="modal-title-input">Note Title</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="modal-title-input" placeholder="ex. Midterm study guide">

          </div> <!-- .controls -->
        </div> <!-- .control-group -->
        <div class="control-group">
          <label class="control-label" for="modal-description-input">Description</label>
          <div class="controls">
            <textarea class="input-xlarge" id="modal-description-input" placeholder="ex. Includes lectures 1-7 and reading summaries for the first half of the semester."></textarea>
          </div> <!-- .controls -->
        </div> <!-- .control-group -->
        <div id="captcha-form">
        </div><!-- captcha form -->
        <div class="control-group">
          <label class="control-label" for="input01">&nbsp;</label>
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" id="modal-current-course" value"current-course"> Check if you're currently in this course.
            </label>
            <label class="checkbox">
              <input type="checkbox" id="modal-tos-agree" value"current-course"> I agree to the <a href="#">Terms of Use</a>.
            </label>
          </div> <!-- .controls -->
        </div> <!-- .control-group -->
        <div class="form-actions" id="modal-upload-button">
          <a class="button" id="modal-meta-submit" type="submit">FINISH UPLOAD</a>
        </div>
        <div class="form-actions" id="modal-upload-again-button" style="display:none">
          <a class="button" id="modal-meta-submit" type="submit">UPLOAD ANOTHER TO THIS COURSE</a>
        </div>
      </fieldset>
    </div><!-- #modal-misc -->
  </div>
</div>
