<div class="modal-backdrop fade in" style="display: none;" ></div>
<div class="modal" id="share" class="modal hide fade in" style="display:none;">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Share Karma Notes</h3>
  </div> <!-- .modal-header -->

  <div class="modal-body">
    <p>Spread the love. Share your unique invite link for <span class="karma-points">+5 points</span> per signup.</p>
    <div class="social-share">
      <!-- facebook share -->
      <span class="inset-border">
        <span class="social-icon">
          <a href="https://www.facebook.com/dialog/feed?app_id=324162827650119&link=https://karmanotes.org&picture=http://karmanotes.org/static/img/logo.png&name=Join%20the%20KarmaNotes%20community&caption=KarmaNotes.org%20is%20a%20free%20and%20open%20online%20community%20for%20students%20to%20share%20academic%20resources.%20Join%20us.%20Learn%20more.%20Share%20knowledge.&description=desc&redirect_uri=http://karmanotes.org/">
          <!-- <a href="https://www.facebook.com/dialog/feed?app_id=324162827650120&link={{ share_url|urlencode }}&picture=http://beta.karmanotes.org/static/img/logo.png&name=Karma%20Notes&caption=Join%20Karma%20Notes%20to%20share%20class%20notes%20from%20your%20school&description=Our%20description&redirect_uri=http://beta.karmanotes.org"> -->
            <span class="fb-icon"><i class="icon-facebook"></i></span>
            <strong>Share on Facebook</strong>
          </a> 
        </span> <!-- .social-icon -->
      </span> <!-- .inset-border -->
      <!-- end facebook share -->
    </div> <!-- .social-share -->
    <div class="copy-paste-link">
      <div class="title">
        <h3>Or, copy & paste your unique link:</h3><br />
      </div>
      <div class="wrap">
        <form class="input-prepend">
          <span class="add-on"><i class="icon-cut"></i></span>
          {# TODO: implement domain name in settings for url generation #}
          <input id="social-link" type="text" value="{{ share_url }}" name="social-link" class="span3">
        </form>
        <div style="clear:both"></div>
      </div> <!-- .wrap -->
    </div> <!-- .copy-paste-link -->
  </div> <!-- .modal-body -->
</div> <!-- #share .modal -->

