<script src="{{ STATIC_URL }}/js/modal-addcourse.js" ></script>
<div class="modal-backdrop fade in" style="display: none;" ></div>
<div class="modal" id="addcourse" class="modal hide fade in" style="display:none;">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Add course to your profile</h3>
  </div> <!-- .modal-header -->

  <div class="modal-body">
    <p>To get the most of KarmaNotes, you should add your current courses to your profile.</p>
    <div id="modal-addcourse">
      <form id="modal-addcourse-form">
      <fieldset>
      <div class="control-group">
        <label class="control-label" for="modal-add-course-input">Course Name</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="modal-addcourse-input" placeholder="ex. Economics 10">
          <div class="course not-found" style="display:none" id="course-add-suggestions">
          </div> <!-- .not-found -->
        </div> <!-- .controls -->
      </div> <!-- .control-group -->
      <div class="form-actions" id="modal-addcourse-button">
        <a class="button" id="modal-course-submit" type="submit">ADD COURSE</a>
        <a class="btn btn-success" style="float:right; display:none" id="course-add-success" >COURSE ADDED</a>
      </div>
    </fieldset>
    </form><!-- #modal-addcourse-form-->
    </div><!-- #modal-addcourse-->
    <hr/>
  </div> <!-- .modal-body -->
</div> <!-- #share .modal -->
