<script src="{{ STATIC_URL }}/js/modal-addcourse.js" ></script>
<div class="modal-backdrop fade in" style="display: none;" ></div>
<div class="modal" id="addcourse" class="modal hide fade in" style="display:none;">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Add course to your profile</h3>
  </div> <!-- .modal-header -->

  <div class="modal-body">
    <p>To get the most of KarmaNotes, you should add your current courses to your profile.</p>
    <div id="modal-addcourse">
      <form id="modal-addcourse-form">
      <fieldset>
      <legend>About your notes</legend>
      <div class="control-group">
        <label class="control-label" for="modal-add-course-input">Course Name</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="modal-addcourse-input" placeholder="ex. Social Analysis 10">
          <div class="course not-found" id="course-add-suggestions">
          </div> <!-- .not-found -->
        </div> <!-- .controls -->
      </div> <!-- .control-group -->
    </fieldset>
    </form><!-- #modal-addcourse-form-->
    </div><!-- #modal-addcourse-->
    <hr/>
    <div class="social-share">
      <!-- facebook share -->
      <span class="inset-border">
        <span class="social-icon">
          <a href="https://www.facebook.com/dialog/feed?app_id=324162827650119&link=https://beta.karmanotes.org&picture=http://beta.karmanotes.org/static/img/logo.png&name=name%20of%20link&caption=caption&description=desc&redirect_uri=http://beta.karmanotes.org/">
          <!-- <a href="https://www.facebook.com/dialog/feed?app_id=324162827650120&link={{ share_url|urlencode }}&picture=http://beta.karmanotes.org/static/img/logo.png&name=Karma%20Notes&caption=Join%20Karma%20Notes%20to%20share%20class%20notes%20from%20your%20school&description=Our%20description&redirect_uri=http://beta.karmanotes.org"> -->
            <span class="fb-icon"><i class="icon-facebook"></i></span>
            <strong>Share on Facebook</strong>
          </a> 
        </span> <!-- .social-icon -->
      </span> <!-- .inset-border -->
      <!-- end facebook share -->
    </div> <!-- .social-share -->
    <div class="copy-paste-link">
      <div class="title">
        <h3>Or, copy & paste your unique link:</h3><br />
      </div>
      <div class="wrap">
        <form class="input-prepend">
          <span class="add-on"><i class="icon-cut"></i></span>
          {# TODO: implement domain name in settings for url generation #}
          <input id="social-link" type="text" value="{{ share_url }}" name="social-link" class="span3">
        </form>
        <div style="clear:both"></div>
      </div> <!-- .wrap -->
    </div> <!-- .copy-paste-link -->
  </div> <!-- .modal-body -->
</div> <!-- #share .modal -->
