{% extends "base.html" %}

{% block scripts %}
{% endblock %}

{% block content %}

<div class="profile-page container">

  <div class="row">
    <div class="offset2 span8">
      <div class="row-fluid">
        <div class="span12">
          <h2>Welcome to KarmaNotes.org</h2>
          <div class="content">
            <img src="http://farm1.staticflickr.com/126/320025863_dcedb76dc1_n.jpg" align=left class="img-left-align">
            <p>KarmaNotes is a community of sharing.  By posting your notes, study guides, and assignments to the cloud, you will earn Karma Points and access to a growing database of academic resources.  Thanks to scholars like you, we are making education more open, one lecture at a time.</p>
            <p>Because KarmaNotes is a 501(c)(3) non-profit project all of our content is freely shared under Creative Commons Share-Alike license to encourage open access and remixing.  We also respect the rights of copyright holders and maintain full compliance with the Digital Millenium Copyright Act.  Please do not upload any copyrighted files or they may be subject to removal.</p>
            <h3>Share the academic wealth!</h3>
            <p> Want to learn more about KarmaNotes.org? Check out our free and open source code or email us: Info [at] KarmaNotes.org </p>
            <p> Thanks Again, <br />
            Team KarmaNotes </p>

          </div> <!-- .content -->
        </div> <!-- .span12 -->
      </div> <!-- .row-fluid -->
    </div> <!-- .span9-->
  </div> <!-- .row -->
</div> <!-- .profile-page .container -->
{% include 'footer.html' %}
{% endblock %}
