{% extends "index.html" %}

{% block scripts %}
{% endblock %}

{% block content %}
<div style="text-align:left">
  <h2> About KarmaNotes </h2>
  <div class='hero-unit' style="padding:5px;text-align:left;">
    <p> Welcome to KarmaNotes.org, a common learning database for scholars everywhere. KarmaNotes encourages you to upload your notes, study guides, syllabi and assignments to the cloud. By sharing your knowledge on KarmaNotes, you can earn Karma Points and access a constantly growing library of academic resources.

    <p> Because KarmaNotes is a non-profit project, all content is freely shared under Creative Commons Share-Alike license to encourage open access and remixing.  We also respect the rights of copyright holders and maintain full compliance with the Digital Millenium Copyright Act.  Please do not upload any copyrighted files or they will be subject to removal. </p>

    <p> Thank you for helping to spread the academic wealth. </p>

    <p> Want to know more? </p>

    <p> Check out our free and open source code or email us: Info [at] KarmaNotes.org </p>

    <p> Thanks Again, <br />
    Team KarmaNotes </p>
  </div>
</div>
{% endblock %}
