{% extends "index.html" %}

{% block scripts %}
{% endblock %}

{% block content %}

<div class="span12">
  <h1>Welcome to KarmaNotes.org</h3>
</div>

<div class="offset3 span6 " style="text-align:center; margin-top:45px;">
  <div class="row">
    <div class="well row">
      <div class="span6"><h3>A common learning database for scholars everywhere</h3></div>
      <br/>
      <div class="offset1 span4" style="margin-top:1em">
        <p> KarmaNotes encourages you to upload your notes, study guides, syllabi and assignments to the cloud. By sharing your knowledge on KarmaNotes, you can earn Karma Points and access a constantly growing library of academic resources.</p>
      </div>
    </div> <!-- .well -->
    <br/>
    <br/>
    <div class="well row">
      <div class="span6"><h3>Because KarmaNotes is a non-profit project</h3></div>
      <div class="offset1 span4" style="margin-top:1em">
        <p>all content is freely shared under Creative Commons Share-Alike license to encourage open access and remixing.  We also respect the rights of copyright holders and maintain full compliance with the Digital Millenium Copyright Act.  Please do not upload any copyrighted files or they will be subject to removal.</p> </p>
      </div>
    </div> <!-- .well -->
    <div class="well row">
      <div class="span6"><h3>Thank you for helping to spread the academic wealth!</h3></div>
      <div class="offset1 span4" style="margin-top:1em">
        <p> Want to know more? Check out our free and open source code or email us: Info [at] KarmaNotes.org </p>

        <p> Thanks Again, <br />
        Team KarmaNotes </p>
      </div>
    </div> <!-- .well -->

  </div> <!-- .row -->
</div>
{% endblock %}
