<div class="course" data-toggle="collapse" data-target="#course-unique-1">
  <div class="folder icon">
    <img src="/static/img/icon-folder.png">
  </div>
  <div class="course-title">
    <a href="/course/{{ course.title }}">{{ course.title }}</a>
    <div class="course-info">
      <span class="instructor">{{ course.instructor.name }}</span> <i class="icon-paper-clip"></i><a href="#">{{ course.files.all|length }} notes</a>
      <!-- TODO: Determine how to mash in user data
      <span class="your-files">Your: <a href="#">Uploads (1)</a> <a href="#">Downloads (2)</a></span> -->
    </div>
  </div>
  <div class="upload">
    <a class="button course-upload" school-pk="{{ course.school.pk }}" school-name="{{ course.school.name }}" course-pk="{{ course.pk }}" course-name="{{ course.title }}" data-toggle="modal" href="#upload">Upload notes</a>
  </div>
  <div style="clear:both"></div>
</div>
