{% load check_file_ownership %}
<div class="file row-fluid">
  <div class="file icon"></div>
  <div class="file-title">
    <a href="{{ file.get_absolute_url }}">{{ file.title }}</a>
  </div>
  <div class="file-description">
    {{ file.description }}
  </div>
  <div class="file-info-action row hide">
      <div class="file-info">
        <span class="user">
          Uploaded by <a href="#"><i class="icon-user"></i>{{ file.owner.get_profile.getName }}</a>
        </span>
        <span class="download">
          <a id="{{ file.pk }}" class="view-file" href="#"><i class="icon-paper-clip"></i>View file</a>
        </span>
      {% if file in viewed_files %}
        <span class="karma-points">VIEWED</span>
        <span class="views">
          {{ file.viewCount }} Views
        </span>
      </div> <!-- .file-info -->
      {% elif file.owner == user %}
        <span class="karma-points">OWNED</span>
        <span class="views">
          {{ file.viewCount }} Views
        </span>
      </div> <!-- .file-info -->
      {% include "file-actions.html" with file=file %}
      {% else %}
        {#<span class="karma-points">-10 points</span>#}
        <span class="views">
          {{ file.viewCount }} Views
        </span>
      </div> <!-- .file-info -->

      {% endif %}

  </div> <!-- .file-info-action hide row -->
</div><!-- .file row-fluid -->
