<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>KarmaNotes Home</title>
	
	<link rel="stylesheet" type="text/css" media="all" href="css/fontface/fontface.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/foundation.min.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/global.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/about.css">
	
</head>
<body>

  <header id="global_header">
    <div class="row">
      <div id="logo_container" class="two columns offset-by-one">
        <img src="img/global_header_logo.png" alt="global_header_logo" width="144" height="17" />
      </div><!--/logo container-->
      
      <div id="browse_container" class="one column">
        Browse
      </div><!--/browse_container-->
      
      <div id="login_container" class="two columns offset-by-five end">
        LOGIN/SIGNUP <img src="img/global_header_login_menu_arrow.png" alt="Open Login" id="login_arrow" width="9" height="6" />
      </div><!--/login container-->
    </div>
  </header><!--/global header-->

  <section id="about_content">

    <div class="row">
      <div id="hero_image" class="twelve columns">
        <div id="hero_image_caption_container">
          <div class="row">
            <div id="hero_image_caption" class="seven columns offset-by-one">
              This is a picture of the KarmaNotes team or something.If there’s no picture, the text just starts at the top of the page.
            </div><!-- /hero_image_caption -->
          </div>
        </div><!-- /hero_image_caption_container -->
      </div><!-- /hero_image -->
    </div>
    
    <div class="row">
      <div id="about_copy_header" class="ten columns offset-by-one">
        Thank you for helping to spread the academic wealth!
      </div>
    </div>
    
    <div class="row">
      <div id="about_copy_body" class="ten columns offset-by-one">
        <p>A common learning database for scholars everywhere, KarmaNotes encourages you to upload your notes, study guides, syllabi and assignments to the cloud. By sharing your knowledge on KarmaNotes, you can earn Karma Points and access a constantly growing library of academic resources.</p>
        <p>Because KarmaNotes is a non-profit project all content is freely shared under Creative Commons Share-Alike license to encourage open access and remixing. We also respect the rights of copyright holders and maintain full compliance with the Digital Millennium Copyright Act. Please do not upload any copyrighted files or they will be subject to removal.</p>
        <p>Want to know more? Check out our free and <a href="#">open source code</a> or <a href="#">email us</a>.</p>
      </div>
    </div>
    
    <div id="about_rule" class="twelve columns"></div>
    
    <div id="donate_container">
      <div class="row">
        <div class="five columns offset-by-one">
          <div class="row">
            <div id="donate_copy_header" class="twelve columns">
              Love KarmaNotes?
            </div><!-- /donate_copy_header -->
          </div>
          <div class="row">
            <div id="donate_copy_body" class="twelve columns">
              Support the movement for free and open education.
            </div><!-- /donate_copy_body -->
          </div>
        </div>
        
        <div class="three columns offset-by-two end">
          <div id="donate_button_container" class="button_bevel">
            <div id="donate_button" class="button_interior">
              DONATE
            </div><!-- /donate_button -->
          </div><!-- /donate_button_container -->
        </div>
        
      </div>
    </div><!-- /donate_container -->
    
    <div class="row">
      <div id="leaderboard_header" class="ten columns offset-by-one">
        Karma University Leaderboard
      </div><!-- /leaderboard_header -->
    </div>
    
    <div class="row">
      <div id="leaderboard_copy" class="ten columns offset-by-one">
        These schools are tops spreading the Karma
      </div><!-- /leaderboard_copy -->
    </div>
    
    <div class="row">
      <div id="leaderboard_table" class="ten columns offset-by-one">
        
        <div class="row leaderboard_item">
          <div class="one column leaderboard_rank">
            1
          </div>
          <div class="eight columns leaderboard_school">
            Massachusetts Institute of Technology
          </div><!-- /leaderboard_school -->
          <div class="one column leaderboard_score">
            15,189
          </div><!-- /leaderboard_score -->
        </div><!-- /leaderboard_item -->
        
         <div class="row leaderboard_item">
          <div class="one column leaderboard_rank">
            2
          </div>
          <div class="eight columns leaderboard_school">
            University of California Berkeley
          </div><!-- /leaderboard_school -->
          <div class="one column leaderboard_score">
            8,720
          </div><!-- /leaderboard_score -->
        </div><!-- /leaderboard_item -->
        
        <div class="row leaderboard_item">
          <div class="one column leaderboard_rank">
            3
          </div>
          <div class="eight columns leaderboard_school">
            Carnegie Melon University
          </div><!-- /leaderboard_school -->
          <div class="one column leaderboard_score">
            5,130
          </div><!-- /leaderboard_score -->
        </div><!-- /leaderboard_item -->
        
      </div><!-- /leaderboard_table -->
    </div>
    
  </section><!--/about_content-->
  
  
  <footer id="global_footer">
    <div class="row">
      <div id="footer_links_container" class="eleven columns offset-by-one">
        <a href="#">About</a>&nbsp;|&nbsp;<a href="#">Terms</a>&nbsp;|&nbsp;<a href="#">Code</a>&nbsp;|&nbsp;<a href="#">Discussions</a>&nbsp;|&nbsp;<a href="#">Donate</a>
      </div><!--/footer_links_container-->
    </div>
    
    <div class="row">
      <div id="colophon" class="eleven columns offset-by-one">
          <img src="img/global_footer_cc_logo.png" id="cc_logo" alt="global_footer_cc_logo" width="30" height="30" align="left"/>
          This work is licensed under a <a href="#">Creative Commons</a> Attribution-ShareAlike 3.0 Unported License.<br>
          <a href="/">KarmaNotes.org</a> is a non-profit project brought to you by the <a href="#">Finals Club Foundation</a>.
      </div><!--/colophon-->
    </div>
  </footer><!--/global footer-->

</body>
</html>