<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>KarmaNotes Global Header/Footer</title>
	
	<link rel="stylesheet" type="text/css" media="all" href="css/fontface/fontface.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/foundation.min.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/global.css">
	
</head>
<body>

  <header id="global_header">
    <div class="row">
      <div id="logo_container" class="five columns offset-by-one">
        <div class="row">
          <div class="five columns">
            <img src="img/global_header_logo.png" alt="global_header_logo" width="144" height="17" />
          </div>
          <div class="seven columns">
            <div id="search_container">
              <input type="text" id="search_txt">       
            </div>
          </div>
        </div>
        
      </div><!--/logo container-->
      
      <div id="browse_container" class="one column">
        Browse
      </div><!--/browse_container-->
    
      <div class="four columns end">
        <div id="global_header_logged_in_content">
          <div class="row">
            
            <div class="five columns half-padding" id="global_header_addnote">
              <img src="img/global_header_plusnote.png" alt="global_header_plusnote" width="115" height="67" />
            </div><!-- /global_header_addnote -->
            
            <div class="four columns half-padding" id="global_header_mycourses">
              
              <div class="row">
                <div class="twelve columns" id="global_header_mycourses_copy">
                  My Courses <img src="img/global_header_login_menu_arrow.png" alt="global_header_login_menu_arrow" width="9" height="6" />
                </div><!-- /global_header_mycourses_copy -->
              </div>
              
              <div class="row">
                <div class="twelve columns" id="global_header_mycourses_list">
                  <ul>
                    <li>Economics</li>
                    <li>History</li>
                    <li>Latin</li>
                    <li>Spanglish</li>
                  </ul>
                </div><!-- /global_header_mycourses_list -->
              </div>
              
              <div class="row">
                <div class="twelve columns" id="global_header_add_course">
                  <img src="img/global_header_add_course.png" alt="global_header_add_course" width="132" height="20" />
                </div><!-- /global_header_add_course -->
              </div>
              
            </div><!-- /global_header_mycourses -->
            
            <div class="three columns">
              <div id="global_header_avatar_menu">
                <div class="row">
                  <div class="five columns no-padding" id="global_header_avatar_container">
                    <img src="img/global_header_avatar.jpg" alt="global_header_avatar" width="31" height="33" />
                  </div>
                  <div class="six columns no-padding" id="global_header_note_count">
                    473
                  </div>
                  <div class="one column half-padding" id="global_header_arrow_container">
                    <img src="img/global_header_login_menu_arrow.png" alt="global_header_login_menu_arrow" width="9" height="6" />
                  </div>
                </div>
              </div><!-- /global_haader_avatar_menu -->
              
              <div id="global_header_avatar_moreinfo">
                <div class="row" id="global_header_avatar_moreinfo_content">
                  <div class="nine columns">
                    <div class="row">
                      <div class="twelve columns" id="global_header_avatar_moreinfo_name">
                        René Decartes
                      </div><!-- /global_header_avatar_moreinfo_name -->
                    </div>
                    <div class="row">
                      <div class="twelve columns" id="global_header_avatar_moreinfo_school">
                        harvard university
                      </div><!-- /global_header_avatar_moreinfo_school -->
                    </div>
                  </div>
                  <div id="global_header_avatar_moreinfo_gear" class="three columns">
                    <img src="img/global_header_gear.png" alt="global_header_gear" width="12" height="14" />
                  </div><!-- /global_header_avatar_moreinfo_gear -->
                </div>
                <div class="row">
                  <div class="twelve columns" id="global_header_avatar_moreinfo_mynotes">
                    <img src="img/global_header_my_notes.png" alt="global_header_my_notes" width="105" height="20" />
                  </div><!-- /global_header_add_course -->
                </div>
              </div><!-- /global_header_avatar_moreinfo -->
              
            </div>
          </div>
        </div><!-- /global_header_logged_in_content -->
      </div>
      
    </div>
    
  </header><!--/global header-->

  <!--page content-->
  <section id="main_container" style="height:750px;">
    
  </section>
  
  <footer id="global_footer">
    <div class="row">
      <div id="footer_links_container" class="eleven columns offset-by-one">
        <a href="#">About</a>&nbsp;|&nbsp;<a href="#">Terms</a>&nbsp;|&nbsp;<a href="#">Code</a>&nbsp;|&nbsp;<a href="#">Discussions</a>&nbsp;|&nbsp;<a href="#">Donate</a>
      </div><!--/footer_links_container-->
    </div>
    
    <div class="row">
      <div id="colophon" class="eleven columns offset-by-one">
          <img src="img/global_footer_cc_logo.png" id="cc_logo" alt="global_footer_cc_logo" width="30" height="30" align="left"/>
          This work is licensed under a <a href="#">Creative Commons</a> Attribution-ShareAlike 3.0 Unported License.<br>
          <a href="/">KarmaNotes.org</a> is a non-profit project brought to you by the <a href="#">Finals Club Foundation</a>.
      </div><!--/colophon-->
    </div>
  </footer><!--/global footer-->

</body>
</html>