<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>KarmaNotes Global Header/Footer</title>
	
	<link rel="stylesheet" type="text/css" media="all" href="css/fontface/fontface.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/foundation.min.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/global.css">
	
</head>
<body>

  <header id="global_header">
    <div class="row">
      <div id="logo_container" class="two columns offset-by-one">
        <img src="img/global_header_logo.png" alt="global_header_logo" width="144" height="17" />
      </div><!--/logo container-->
      
      <div id="browse_container" class="one column">
        Browse
      </div><!--/browse_container-->
      
      <div id="login_container" class="three columns offset-by-four end">
        LOGIN/SIGNUP <img src="img/global_header_login_menu_arrow.png" alt="Open Login" id="login_arrow" width="9" height="6" />
        
        <div id="login_box">
          <div class="row">
            <div class="twelve columns">
            
              <div class="row" id="login_fb">
                <div class="twelve columns">
                  <img src="img/global_header_login_fbbtn.png" alt="global_header_login_fbbtn" width="223" height="45" />
                </div>
              </div><!--/login_fb-->
              
              <div class="row" id="login_form">
                <div class="twelve columns">
                  <form>
                  
                    <div class="row">
                      <div class="twelve columns">
                        <input type="text" name="username">
                      </div>
                      <div class="twelve columns">
                        Username
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="twelve columns">
                        <input type="password" name="password">
                      </div>
                      <div class="twelve columns">
                        Password
                      </div>
                    </div>
                    
                  </form>
                </div>
              </div><!--/login_form-->
              
              <div class="row" id="login_submit">
                <div class="twelve columns">
                  LOG IN
                </div>
              </div><!--/login_submit-->
              
            </div>
          </div>
        </div>
        
      </div><!--/login container-->
    </div>
  </header><!--/global header-->

  <!--page content-->
  <section id="main_container" style="height:750px;">
    
  </section>
  
  <footer id="global_footer">
    <div class="row">
      <div id="footer_links_container" class="eleven columns offset-by-one">
        <a href="#">About</a>&nbsp;|&nbsp;<a href="#">Terms</a>&nbsp;|&nbsp;<a href="#">Code</a>&nbsp;|&nbsp;<a href="#">Discussions</a>&nbsp;|&nbsp;<a href="#">Donate</a>
      </div><!--/footer_links_container-->
    </div>
    
    <div class="row">
      <div id="colophon" class="eleven columns offset-by-one">
          <img src="img/global_footer_cc_logo.png" id="cc_logo" alt="global_footer_cc_logo" width="30" height="30" align="left"/>
          This work is licensed under a <a href="#">Creative Commons</a> Attribution-ShareAlike 3.0 Unported License.<br>
          <a href="/">KarmaNotes.org</a> is a non-profit project brought to you by the <a href="#">Finals Club Foundation</a>.
      </div><!--/colophon-->
    </div>
  </footer><!--/global footer-->

</body>
</html>