<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>KarmaNotes Join Course</title>
	
	<link rel="stylesheet" type="text/css" media="all" href="css/fontface/fontface.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/foundation.min.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/global.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/lightbox.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/dashboard.css">
	
</head>
<body>

  <header id="global_header">
    <div class="row">
      <div id="logo_container" class="five columns offset-by-one">
        <div class="row">
          <div class="five columns">
            <img src="img/global_header_logo.png" alt="global_header_logo" width="144" height="17" />
          </div>
          <div class="seven columns">
            <div id="search_container">
              <input type="text" id="search_txt">       
            </div>
          </div>
        </div>
        
      </div><!--/logo container-->
    
      <div id="browse_container" class="one column">
        Browse
      </div><!--/browse_container-->
      

      <div class="four columns offset-by-one end">
        <div id="global_header_logged_in_content">
          <div class="row">
            
            <div class="five columns half-padding" id="global_header_addnote">
              <img src="img/global_header_plusnote.png" alt="global_header_plusnote" width="115" height="67" />
            </div><!-- /global_header_addnote -->
            
            <div class="four columns half-padding" id="global_header_mycourses">
              
              <div class="row">
                <div class="twelve columns" id="global_header_mycourses_copy">
                  My Courses <img src="img/global_header_login_menu_arrow.png" alt="global_header_login_menu_arrow" width="9" height="6" />
                </div><!-- /global_header_mycourses_copy -->
              </div>
              
            </div><!-- /global_header_mycourses -->
            
            <div class="three columns">
              <div id="global_header_avatar_menu">
                <div class="row">
                  <div class="five columns no-padding" id="global_header_avatar_container">
                    <img src="img/global_header_avatar.jpg" alt="global_header_avatar" width="31" height="33" />
                  </div>
                  <div class="six columns no-padding" id="global_header_note_count">
                    473
                  </div>
                  <div class="one column half-padding" id="global_header_arrow_container">
                    <img src="img/global_header_login_menu_arrow.png" alt="global_header_login_menu_arrow" width="9" height="6" />
                  </div>
                </div>
              </div><!-- /global_haader_avatar_menu -->
              
            </div>
          </div>
        </div><!-- /global_header_logged_in_content -->
      </div>
      
    </div>
    
  </header><!--/global header-->

  <section id="dashboard_content">

    <div id="stats_container" class="hero_gradient_bar">
      <div class="row">
        <div class="ten columns offset-by-one">
         
          <div class="row">
            <div class="three columns stat_lead_in">
              you've earned
            </div>
            <div class="three columns stat_lead_in">
              you've uploaded
            </div>
            <div class="three columns stat_lead_in">
              you've downloaded
            </div>
            <div class="three columns stat_lead_in">
              you've liked
            </div>
          </div>
          
          <div class="row">
            <div class="three columns stat_number stat_earned">
              473
            </div><!-- /stat_earned -->
            <div class="three columns stat_number stat_uploaded">
              34
            </div><!-- /stat_uploaded -->
            <div class="three columns stat_number stat_downloaded">
              67
            </div><!-- /stat_downloaded -->
            <div class="three columns stat_number stat_liked">
              72
            </div><!-- /stat_liked -->
          </div>
          
          <div class="row">
            <div class="three columns stat_object stat_earned">
              karma points
            </div><!-- /stat_earned -->
            <div class="three columns stat_object stat_uploaded">
              items
            </div><!-- /stat_uploaded -->
            <div class="three columns stat_object stat_downloaded">
              things
            </div><!-- /stat_downloaded -->
            <div class="three columns stat_object stat_liked">
              posts
            </div><!-- /stat_liked -->
          </div>
          
        </div>
      </div>
    </div><!-- /stats_container -->
    
    <div class="row">
      <div id="profile_box_container" class="eleven columns centered">
        <div id="profile_box" class="row">
      
          <div class="three columns">
            <div class="row">
              <div class="four columns">
                <img src="img/dashboard_profile_avatar.jpg" alt="dashboard_profile_avatar" width="71" height="71" align="top"/>
              </div>
              <div id="profile_name" class="eight columns">
                René Decartes
              </div><!-- /profile_name -->
            </div>
          </div>
          
          <div class="three columns" id="profile_school">
            <div id="profile_school_header">
              My School
            </div><!-- /profile_school_header -->
            <div id="profile_school_list">
              Harvard University
            </div><!-- /profile_school_list -->
          </div><!-- /profile_school -->
      
          <div class="three columns" id="profile_courses">
            <div id="profile_courses_header">
              My Courses
            </div>
            <div id="profile_courses_list">
              <ul>
                <li>Macro Economics</li>
                <li>Dance 101</li>
                <li>Spanglish</li>
              </ul>
            </div>
            <div id="profile_courses_links">
              <a href="#">See All</a>
              <a href="#">Add A Course</a>
            </div>
          </div><!-- /profile_courses -->
          
          <div class="three columns" id="profile_actions">
            <div id="profile_actions_add_course">
              <a href="#"><img src="img/dashboard_profile_plusicon.png" alt="dashboard_profile_plusicon" width="20" height="20" align="middle"/> ADD A COURSE</a>
            </div>
            <div id="profile_actions_add_course">
              <a href="#"><img src="img/dashboard_profile_plusicon.png" alt="dashboard_profile_plusicon" width="20" height="20" align="middle"/> ADD A NOTE</a>
            </div>
            <div id="profile_actions_add_course">
              <a href="#"><img src="img/dashboard_profile_foldericon.png" alt="dashboard_profile_foldericon" width="20" height="20" align="middle"/> VIEW MY NOTES</a>
            </div>
          </div><!-- /profile_actions -->
        </div>
      </div><!-- /profile_box -->        
    </div>
    
    <div id="activity_container">
      
      <div class="row">
        <div class="ten columns offset-by-one column_header">
            latest activity
        </div>
      </div>
      
      <div class="row"><!-- activity_item_container -->
        <div class="ten columns offset-by-one">
          
          <div class="activity_item">
        
            <div class="row">
              <div class="twelve columns">
                <div class="activity_timestamp">
                  <span class="activity_time">5pm</span> // <span class="activity_date">tues nov 23 2012</span>
                </div><!-- /activity_timestamp -->
              </div>
            </div>
          
            <div class="row">
              <div class="one column">
                <img src="img/dashboard_profile_avatar.jpg" alt="dashboard_profile_avatar" width="71" height="71" />
              </div>
              
              <div class="eleven columns activity_details">
                <div class="row">
                  <div class="twleve columns activity_details_action">
                    <a href="#" class="activity_actor">You</a> downloaded <a class="activity_target">Class Notes for Week 5 by John Howrey</a>
                  </div><!-- /activity_details_action -->
                </div>
                <div class="row">
                  <div class="twelve columns activity_details_context">
                    <a href="#" class="course_link">economics 101</a>//<a href="#" class="school_link">harvard university</a>
                  </div><!-- /activity_details_context -->
                </div>
              </div>
            </div>
            
          </div><!-- /activity_item -->
          
        </div>
      </div><!-- /activity_item_container -->

      <div class="row"><!-- activity_item_container -->
        <div class="ten columns offset-by-one row_alt_on">
          
          <div class="activity_item">
        
            <div class="row">
              <div class="twelve columns">
                <div class="activity_timestamp">
                  <span class="activity_time">5pm</span> // <span class="activity_date">tues nov 23 2012</span>
                </div><!-- /activity_timestamp -->
              </div>
            </div>
          
            <div class="row">
              <div class="one column">
                <img src="img/dashboard_profile_avatar_jh.jpg" alt="dashboard_profile_avatar" width="71" height="71" />
              </div>
              
              <div class="eleven columns activity_details">
                <div class="row">
                  <div class="twleve columns activity_details_action">
                    <a href="#" class="activity_actor">John Howrey</a> added <a href="#" class="activity_target">Class Notes for Week 5</a>
                  </div><!-- /activity_details_action -->
                </div>
                <div class="row">
                  <div class="twelve columns activity_details_context">
                    <a href="#" class="course_link">economics 101</a>//<a href="#" class="school_link">harvard university</a>
                  </div><!-- activity_details_context -->
                </div>
                <div class="row">
                  <div class="twelve columns activity_details_callout">
                    <div class="row">
                      <div class="one column">
                        <img src="img/dashboard_activity_callout_icon_notebook.png" alt="dashboard_activity_callout_icon_notebook" width="44" height="44" />
                      </div>
                      <div class="eleven columns activity_details_callout_copy">
                        Bacon ipsum dolor sit amet pancetta capicola pork belly strip steak tri-tip turkey ribeye shank meatloaf tongue pork shankle venison turducken corned beef. Swine jowl meatball bresaola, tongue jerky turducken ham hock strip steak ground round filet mignon. Corned beef ground round pork chop, turducken
                      </div>
                    </div>
                  </div><!-- /activity_details_callout -->
                </div>
                <div class="row">
                  <div class="twelve columns activity_details_status">
                    So far, <span class="activity_details_status_number">13</span> people have completely fallen in love with with these notes.
                  </div><!-- /activity_details_status -->
                </div>
              </div>
            </div>
            
          </div><!-- /activity_item -->
          
        </div>
      </div><!-- /activity_item_container -->

       <div class="row"><!-- activity_item_container -->
        <div class="ten columns offset-by-one">
          
          <div class="activity_item">
        
            <div class="row">
              <div class="twelve columns">
                <div class="activity_timestamp">
                  <span class="activity_time">5pm</span> // <span class="activity_date">tues nov 23 2012</span>
                </div><!-- /activity_timestamp -->
              </div>
            </div>
          
            <div class="row">
              <div class="one column">
                <img src="img/dashboard_profile_avatar.jpg" alt="dashboard_profile_avatar" width="71" height="71" />
              </div>
              
              <div class="eleven columns activity_details">
                <div class="row">
                  <div class="twleve columns activity_details_action">
                    <a href="#" class="activity_actor">You</a> added <a href="#" class="course_link">Class Economics 101</a> at <a href="#" class="school_link">Harvard University</a> to your list of courses
                  </div><!-- /activity_details_action -->
                </div>
                <div class="row">
                  <div class="twelve columns activity_details_status">
                    So far, <span class="activity_details_status_number">13</span> people have completely fallen in love with with these notes.
                  </div><!-- /activity_details_status -->
                </div>
              </div>
            </div>
            
          </div><!-- /activity_item -->
          
        </div>
      </div><!-- /activity_item_container -->
      
      <div class="row"><!-- activity_item_container -->
        <div class="ten columns offset-by-one row_alt_on">
          
          <div class="activity_item">
        
            <div class="row">
              <div class="twelve columns">
                <div class="activity_timestamp">
                  <span class="activity_time">5pm</span> // <span class="activity_date">tues nov 23 2012</span>
                </div><!-- /activity_timestamp -->
              </div>
            </div>
          
            <div class="row">
              <div class="one column">
                <img src="img/dashboard_profile_avatar_dm.jpg" alt="dashboard_profile_avatar" width="71" height="71" />
              </div>
              
              <div class="eleven columns activity_details">
                <div class="row">
                  <div class="twleve columns activity_details_action">
                    <a href="#" class="activity_actor">Andrew Mogliozzi</a> downloaded your notes, <a href="#" class="activity_target">Tango for Beginners</a>.
                  </div><!-- /activity_details_action -->
                </div>
                <div class="row">
                  <div class="twelve columns activity_details_status">
                    That just earned you <span class="activity_details_status_number">5</span> Karma points.
                  </div><!-- /activity_details_status -->
                </div>
              </div>
            </div>
            
          </div><!-- /activity_item -->
          
        </div>
      </div><!-- /activity_item_container -->
      
      <div class="row"><!-- activity_item_container -->
        <div class="ten columns offset-by-one">
          
          <div class="activity_item">
        
            <div class="row">
              <div class="twelve columns">
                <div class="activity_timestamp">
                  <span class="activity_time">5pm</span> // <span class="activity_date">tues nov 23 2012</span>
                </div><!-- /activity_timestamp -->
              </div>
            </div>
          
            <div class="row">
              <div class="one column">
                <img src="img/dashboard_profile_avatar_gs.jpg" alt="dashboard_profile_avatar" width="71" height="71" />
              </div>
              
              <div class="eleven columns activity_details">
                <div class="row">
                  <div class="twleve columns activity_details_action">
                    <a href="#" class="activity_actor">Gabi Schaffzin</a> tought your notes, <a href="#" class="activity_target">Tango for Beginners</a>, were the créme de la créme.
                  </div><!-- /activity_details_action -->
                </div>
                <div class="row">
                  <div class="twelve columns activity_details_status">
                    That just earned you <span class="activity_details_status_number">1</span> Karma point.
                  </div><!-- /activity_details_status -->
                </div>
              </div>
            </div>
            
          </div><!-- /activity_item -->
          
        </div>
      </div><!-- /activity_item_container -->
      
      <div class="row"><!-- activity_item_container -->
        <div class="ten columns offset-by-one row_alt_on">
          
          <div class="activity_item">
        
            <div class="row">
              <div class="twelve columns">
                <div class="activity_timestamp">
                  <span class="activity_time">5pm</span> // <span class="activity_date">tues nov 23 2012</span>
                </div><!-- /activity_timestamp -->
              </div>
            </div>
          
            <div class="row">
              <div class="one column">
                <img src="img/dashboard_profile_avatar.jpg" alt="dashboard_profile_avatar" width="71" height="71" />
              </div>
              
              <div class="eleven columns activity_details">
                <div class="row">
                  <div class="twleve columns activity_details_action">
                    <a href="#" class="activity_actor">You</a> added <a href="#" class="activity_target">Tango for Beginners</a>
                  </div><!-- /activity_details_action -->
                </div>
                <div class="row">
                  <div class="twelve columns activity_details_context">
                    <a href="#" class="course_link">economics 101</a>//<a href="#" class="school_link">harvard university</a>
                  </div><!-- activity_details_context -->
                </div>
                <div class="row">
                  <div class="twelve columns activity_details_callout">
                    <div class="row">
                      <div class="one column">
                        <img src="img/dashboard_activity_callout_icon_notebook.png" alt="dashboard_activity_callout_icon_notebook" width="44" height="44" />
                      </div>
                      <div class="eleven columns activity_details_callout_copy">
                        Bacon ipsum dolor sit amet pancetta capicola pork belly strip steak tri-tip turkey ribeye shank meatloaf tongue pork shankle venison turducken corned beef. Swine jowl meatball bresaola, tongue jerky turducken ham hock strip steak ground round filet mignon. Corned beef ground round pork chop, turducken
                      </div>
                    </div>
                  </div><!-- /activity_details_callout -->
                </div>
                <div class="row">
                  <div class="twelve columns activity_details_status">
                    So far, <span class="activity_details_status_number">2</span> people have found these notes mind-blowing.
                  </div><!-- /activity_details_status -->
                </div>
              </div>
            </div>
            
          </div><!-- /activity_item -->
          
        </div>
      </div><!-- /activity_item_container -->

    </div><!-- /activity_container -->
    
    <div class="row">
      <div class="twelve columns">
        <div id="activity_more">
          <img src="img/dashboard_more_plusicon.png" alt="dashboard_more_plusicon" width="179" height="24" />
        </div><!-- /activity_more -->
      </div>
    </div>
    
  </section><!--/dashboard_content-->
  
  <section id="modal_content">
  
    <div class="row">
      <div id="lightbox_modal" class="eight columns centered">
        <div class="row">
          <div id="modal_header" class="twelve columns">
            Join Course
          </div><!-- /modal_header -->
        </div>
        
        <div class="row">
          <div class="six columns centered join_course_row">
            <div class="inverted_button">
              Search for courses at your school
            </div><!-- /inverted_button -->
          </div><!-- /join_course_row -->
        </div>
        
        <div class="row">
          <div class="eight columns centered join_course_row">
            <div id="join_course_or">&#8212;or&#8212;</div>
          </div><!-- /join_course_row -->
        </div>
        
        <div class="row">
          <div class="six columns centered join_course_row">
            <div id="lightbox_field_label">
              Search for courses at your school
            </div><!-- /inverted_button -->
            <div id="lightbox_search">
              <input type="text" class="lightbox_textfield" id="lightbox_search_txt">       
            </div><!-- search_container -->
          </div><!-- /join_course_row -->
        </div>
                
        <div id="lightbox_close"></div>
                
      </div><!-- /lightbox_modal -->
    </div>
  
  </section><!-- /modal_content -->
  
  <footer id="global_footer">
    <div class="row">
      <div id="footer_links_container" class="eleven columns offset-by-one">
        <a href="#">About</a>&nbsp;|&nbsp;<a href="#">Terms</a>&nbsp;|&nbsp;<a href="#">Code</a>&nbsp;|&nbsp;<a href="#">Discussions</a>&nbsp;|&nbsp;<a href="#">Donate</a>
      </div><!--/footer_links_container-->
    </div>
    
    <div class="row">
      <div id="colophon" class="eleven columns offset-by-one">
          <img src="img/global_footer_cc_logo.png" id="cc_logo" alt="global_footer_cc_logo" width="30" height="30" align="left"/>
          This work is licensed under a <a href="#">Creative Commons</a> Attribution-ShareAlike 3.0 Unported License.<br>
          <a href="/">KarmaNotes.org</a> is a non-profit project brought to you by the <a href="#">Finals Club Foundation</a>.
      </div><!--/colophon-->
    </div>
  </footer><!--/global footer-->

</body>
</html>