{% extends "n_base.html" %}
{% load url from future %}
{% load humanize %}

{% block pagestyle %}
  <link rel="stylesheet" type="text/css" media="all" href="/static/css/about.css">
{% endblock %}

{% block title %}
  Mission, Vision, Team &amp; Scoreboard
{% endblock %}

{% block content %}
  <section id="about_content">

    <div class="row">
      <div id="hero_image" class="twelve columns">
        <div id="hero_image_caption_container">
          <div class="row">
            <div id="hero_image_caption" class="seven columns offset-by-one">
            <p>Meet the KarmaNotes team: Seth, Bob, Charles, & Andrew.</p>
            </div><!-- /hero_image_caption -->
          </div>
        </div><!-- /hero_image_caption_container -->
      </div><!-- /hero_image -->
    </div>

    <div class="row">
      <div id="about_copy_header" class="ten columns offset-by-one">
        Help us spread the academic wealth.
      </div>
    </div>

    <div class="row">
      <div id="about_copy_body" class="ten columns offset-by-one">
        <p>KarmaNotes empowers college students to participate in the free exchange of course notes, study guides, and other digial learning resources. By sharing knowledge on KarmaNotes, you will earn Karma Points and access to a growing database of academic resources.</p>
        <p>Free (and advertising free), all content on KarmaNotes is also licensed Creative Commons and all of its code is <a href="https://github.com/FinalsClub/djKarma">free and open source</a>. We also maintain full compliance with the Digital Millennium Copyright Act.</p>
        <p>Like a public park or give-a-penny jar, KarmaNotes has the capacity for a near-limitless wealth of knowledge, curiosity, and karma. Beyond the ivory tower, KarmaNotes is a network with the potential to digitize education, one lecture at a time.</p>
        <p>KarmaNotes is improving learning online thanks to support from the William and Flora Hewlett Foundation and generous scholars like you. Want to learn more? Please <a href="mailto:info@finalsclub.org?Subject=Karma%20question">contact us</a> or make a tax-deductible charitable donation to the FinalsClub Foundation.</p>
      </div>
    </div>

    <div id="about_rule" class="twelve columns"></div>

    <div id="donate_container">
      <div class="row">
        <div class="five columns offset-by-one">
          <div class="row">
            <div id="donate_copy_header" class="twelve columns">
              Love KarmaNotes?
            </div><!-- /donate_copy_header -->
          </div>
          <div class="row">
            <div id="donate_copy_body" class="twelve columns">
              Support free and open education.
            </div><!-- /donate_copy_body -->
          </div>
        </div>

        <div class="three columns offset-by-two end">
          <div id="donate_button_container" class="button_bevel">
            <div id="donate_button" class="button_interior">
              DONATE
            </div><!-- /donate_button -->
          </div><!-- /donate_button_container -->
        </div>

      </div>
    </div><!-- /donate_container -->

    <div class="row">
      <div id="leaderboard_header" class="ten columns offset-by-one">
        University Karma Leaderboard
      </div><!-- /leaderboard_header -->
    </div>

    <div class="row">
      <div id="leaderboard_copy" class="ten columns offset-by-one">
        These schools are aces at sharing the academic wealth
      </div><!-- /leaderboard_copy -->
    </div>

    <div class="row">
      <div id="leaderboard_table" class="ten columns offset-by-one">

        {% for school in leader_schools %}
        <div class="row leaderboard_item">
          <div class="one column leaderboard_rank">
            {{ forloop.counter }}
          </div>
          <div class="eight columns leaderboard_school">
            {{ school.name }}
          </div><!-- /leaderboard_school -->
          <div class="one column leaderboard_score">
            {{ school.karma|intcomma }}
          </div><!-- /leaderboard_score -->
        </div><!-- /leaderboard_item -->
        {% endfor %}

      </div><!-- /leaderboard_table -->
    </div>

  </section><!--/about_content-->
{% endblock %}
