{% if event.type.title == 'profile-name' %}
  added a name to your profile
{% elif event.type.title == 'profile-picture' %}
  added an avatar to your profile
{% elif event.type.title == 'major' %}
  added a major to your profile
{% elif event.type.title == 'full-course-study-guide' %}
  uploaded a course study guide to <a class="activity_target" href="{{ event.course.get_absolute_url }}">{{ event.course.title }}</a>
{% elif event.type.title == 'mid-term-study-guide' %}
  uploaded a mid-term study guide to <a class="activity_target" href="{{ event.course.get_absolute_url }}">{{ event.course.title }}</a>
{% elif event.type.title == 'lecture-note' %}
  uploaded lecture notes to <a class="activity_target" href="{{ event.course.get_absolute_url }}">{{ event.course.title }}</a>
{% elif event.type.title == 'exam-or-quiz' %}
  uploaded an exam or quiz to <a class="activity_target" href="{{ event.course.get_absolute_url }}">{{ event.course.title }}</a>
{% elif event.type.title == 'equation-sheet' %}
  uploaded an equation sheet to <a class="activity_target" href="{{ event.course.get_absolute_url }}">{{ event.course.title }}</a>
{% elif event.type.title == 'essay-large' %}
  uploaded an essay to <a class="activity_target" href="{{ event.course.get_absolute_url }}">{{ event.course.title }}</a>
{% elif event.type.title == 'essay-medium' %}
  uploaded an essay to <a class="activity_target" href="{{ event.course.get_absolute_url }}">{{ event.course.title }}</a>
{% elif event.type.title == 'essay-small' %}
  uploaded an essay to <a class="activity_target" href="{{ event.course.get_absolute_url }}">{{ event.course.title }}</a>
{% elif event.type.title == 'tag' %}
  added a tag to <a class="activity_target" href="{{ event.file.get_absolute_url }}">{{ event.file.title }}</a>
{% elif event.type.title == 'syllabus' %}
  uploaded a course syllabus to <a class="activity_target" href="{{ event.course.get_absolute_url }}">{{ event.course.title }}</a>
{% elif event.type.title == 'assignment' %}
  uploaded an assignment to <a class="activity_target" href="{{ event.course.get_absolute_url }}">{{ event.course.title }}</a>
{% elif event.type.title == 'course-url' %}
  created the course <a class="activity_target" href="{{ event.course.get_absolute_url }}">{{ event.course.title }}</a>
{% elif event.type.title == 'like' %}
  thanked {{ event.target.username }} for their file <a class="activity_target" href="{{ event.file.get_absolute_url }}">{{ event.file.title }}</a>
{% elif event.type.title == 'flag' %}
  flagged <a class="activity_target" href="{{ event.file.get_absolute_url }}">{{ event.file.title }}</a>
{% elif event.type.title == 'upvote' %}
  upvoted <a class="activity_target" href="{{ event.file.get_absolute_url }}">{{ event.file.title }}</a>
{% elif event.type.title == 'downvote' %}
  downvoted <a class="activity_target" href="{{ event.file.get_absolute_url }}">{{ event.file.title }}</a>
{% elif event.type.title == 'view-file' %}
  viewed <a class="activity_target" href="{{ event.file.get_absolute_url }}">{{ event.file.title }}</a>
{% elif event.type.title == 'profile-grad-year' %}
  added a graduation year to your profile
{% elif event.type.title == 'profile-school' %}
  added a school to your profile
{% endif %}
