{% load url from future %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>KarmaNotes -- {% block title %}{% endblock %}</title>
	
  <link rel="stylesheet" type="text/css" media="all" href="/static/css/fontface/fontface.css">
  <link rel="stylesheet" type="text/css" media="all" href="/static/css/foundation.min.css">
  <link rel="stylesheet" type="text/css" media="all" href="/static/css/global.css">
	<link rel="stylesheet" type="text/css" media="all" href="/static/css/lightbox.css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script src="/static/js/bootstrap-dropdown.js"></script>
  <script src="/static/js/app.js"></script>

<script src="{{ STATIC_URL }}ajaxuploader/js/fileuploader.js" ></script>
<script src="{{ STATIC_URL }}/js/modal-upload.js" ></script>
<link href="{{ STATIC_URL }}ajaxuploader/css/fileuploader.css" media="screen" rel="stylesheet" type="text/css" />

  {% block pagescripts %}
  {% endblock %}

  {% block pagestyle %}
  {% endblock %}
	
</head>
<body>
<!-- header include -->
{% include 'n_header.html' %}
<!-- header end -->

{% block content %}
{% endblock %}

{% if user.is_authenticated %}
  {% include 'n_lightbox_add_note.html' %}

  {% include 'n_lightbox_choose_course.html' %}
  {% include 'n_lightbox_choose_school.html' %}
  {% include 'n_lightbox_create_course.html' %}
  {% include 'n_lightbox_create_school.html' %}
{% else %}
  {% include 'n_lightbox_signup.html' %}
{% endif%}

<!-- footer include -->
{% include 'n_footer.html' %}
<!-- footer end -->

</body>
</html>
