{% extends "n_base.html" %}
{% load url from future %}

{% block pagestyle %}
  <link rel="stylesheet" type="text/css" media="all" href="/static/css/dashboard.css">
{% endblock %}


{% block content %}
  <section id="dashboard_content">

    <div id="stats_container" class="hero_gradient_bar">
      <div class="row">
        <div class="ten columns offset-by-one">

          <div class="row">
            <div class="three columns stat_lead_in">
              you've earned
            </div>
            <div class="three columns stat_lead_in">
              you've uploaded
            </div>
            <div class="three columns stat_lead_in">
              you've downloaded
            </div>
            <div class="three columns stat_lead_in">
              you've liked
            </div>
          </div>

          <div class="row">
            <div class="three columns stat_number stat_earned">
              {{ user.get_profile.karma }} <!-- user's karma -->
            </div><!-- /stat_earned -->
            <div class="three columns stat_number stat_uploaded">
              {{ user.get_profile.files.count }} {# FIXME: this includes downloads, use files with owner == user #} <!-- user's file count -->
            </div><!-- /stat_uploaded -->
            <div class="three columns stat_number stat_downloaded">
              {{ user.get_profile.files.count }} {# TODO: something like profile.files.count #}
            </div><!-- /stat_downloaded -->
            <div class="three columns stat_number stat_liked">
              72 {# profile.repEvents.type == vote #}
            </div><!-- /stat_liked -->
          </div>

          <div class="row">
            <div class="three columns stat_object stat_earned">
              karma points
            </div><!-- /stat_earned -->
            <div class="three columns stat_object stat_uploaded">
              items
            </div><!-- /stat_uploaded -->
            <div class="three columns stat_object stat_downloaded">
              things
            </div><!-- /stat_downloaded -->
            <div class="three columns stat_object stat_liked">
              posts
            </div><!-- /stat_liked -->
          </div>

        </div>
      </div>
    </div><!-- /stats_container -->

    <div class="row">
      <div id="profile_box_container" class="eleven columns centered">
        <div id="profile_box" class="row">

          <div class="three columns">
            <div class="row">
              <div class="four columns">
                <img src="{{ user.get_profile.picture_url_large }}" alt="dashboard_profile_avatar" align="top"/>
              </div>
              <div id="profile_name" class="eight columns">
                {{ user.get_profile.get_name }}
              </div><!-- /profile_name -->
            </div>
          </div>

          <div class="three columns" id="profile_school">
            <div id="profile_school_header">
              My School
            </div><!-- /profile_school_header -->
            <div id="profile_school_list">
              {{ user.get_profile.school }}
            </div><!-- /profile_school_list -->
          </div><!-- /profile_school -->

          <div class="three columns" id="profile_courses">
            <div id="profile_courses_header">
              My Courses
            </div>
            <div id="profile_courses_list">
              <ul>
                {% for course in user.get_profile.courses.all %}
                  <li><a href="{{ course.get_absolute_url }}">{{ course.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div id="profile_courses_links">
              <a href="#">See All</a>
              <a href="#">Add A Course</a>
            </div>
          </div><!-- /profile_courses -->

          <div class="three columns" id="profile_actions">
            <div id="profile_actions_add_course">
              <a href="#"><img src="/static/img/dashboard_profile_plusicon.png" alt="dashboard_profile_plusicon" width="20" height="20" align="middle"/> ADD A COURSE</a>
            </div>
            <div id="profile_actions_add_course">
              <a href="#"><img src="/static/img/dashboard_profile_plusicon.png" alt="dashboard_profile_plusicon" width="20" height="20" align="middle"/> ADD A NOTE</a>
            </div>
            <div id="profile_actions_add_course">
              <a href="#"><img src="/static/img/dashboard_profile_foldericon.png" alt="dashboard_profile_foldericon" width="20" height="20" align="middle"/> VIEW MY NOTES</a>
            </div>
          </div><!-- /profile_actions -->
        </div>
      </div><!-- /profile_box -->
    </div>

    <div id="activity_container">

      <div class="row">
        <div class="ten columns offset-by-one column_header">
            latest activity
        </div>
      </div>

      {% for event in events %}
        {% include 'n_activity_item.html' %}
      {% endfor %}
      <div class="row"><!-- activity_item_container -->
        <div class="ten columns offset-by-one">

          <div class="activity_item">

            <div class="row">
              <div class="twelve columns">
                <div class="activity_timestamp">
                  <span class="activity_time">5pm</span> // <span class="activity_date">tues nov 23 2012</span>
                </div><!-- /activity_timestamp -->
              </div>
            </div>

            <div class="row">
              <div class="one column">
                <img src="/static/img/dashboard_profile_avatar.jpg" alt="dashboard_profile_avatar" width="71" height="71" />
              </div>

              <div class="eleven columns activity_details">
                <div class="row">
                  <div class="twleve columns activity_details_action">
                    <a href="#" class="activity_actor">You</a> downloaded <a class="activity_target">Class Notes for Week 5 by John Howrey</a>
                  </div><!-- /activity_details_action -->
                </div>
                <div class="row">
                  <div class="twelve columns activity_details_context">
                    <a href="#" class="course_link">economics 101</a>//<a href="#" class="school_link">harvard university</a>
                  </div><!-- /activity_details_context -->
                </div>
              </div>
            </div>

          </div><!-- /activity_item -->

        </div>
      </div><!-- /activity_item_container -->

      <div class="row"><!-- activity_item_container -->
        <div class="ten columns offset-by-one row_alt_on">

          <div class="activity_item">

            <div class="row">
              <div class="twelve columns">
                <div class="activity_timestamp">
                  <span class="activity_time">5pm</span> // <span class="activity_date">tues nov 23 2012</span>
                </div><!-- /activity_timestamp -->
              </div>
            </div>

            <div class="row">
              <div class="one column">
                <img src="/static/img/dashboard_profile_avatar_jh.jpg" alt="dashboard_profile_avatar" width="71" height="71" />
              </div>

              <div class="eleven columns activity_details">
                <div class="row">
                  <div class="twleve columns activity_details_action">
                    <a href="#" class="activity_actor">John Howrey</a> added <a href="#" class="activity_target">Class Notes for Week 5</a>
                  </div><!-- /activity_details_action -->
                </div>
                <div class="row">
                  <div class="twelve columns activity_details_context">
                    <a href="#" class="course_link">economics 101</a>//<a href="#" class="school_link">harvard university</a>
                  </div><!-- activity_details_context -->
                </div>
                <div class="row">
                  <div class="twelve columns activity_details_callout">
                    <div class="row">
                      <div class="one column">
                        <img src="/static/img/dashboard_activity_callout_icon_notebook.png" alt="dashboard_activity_callout_icon_notebook" width="44" height="44" />
                      </div>
                      <div class="eleven columns activity_details_callout_copy">
                        Bacon ipsum dolor sit amet pancetta capicola pork belly strip steak tri-tip turkey ribeye shank meatloaf tongue pork shankle venison turducken corned beef. Swine jowl meatball bresaola, tongue jerky turducken ham hock strip steak ground round filet mignon. Corned beef ground round pork chop, turducken
                      </div>
                    </div>
                  </div><!-- /activity_details_callout -->
                </div>
                <div class="row">
                  <div class="twelve columns activity_details_status">
                    So far, <span class="activity_details_status_number">13</span> people have completely fallen in love with with these notes.
                  </div><!-- /activity_details_status -->
                </div>
              </div>
            </div>

          </div><!-- /activity_item -->

        </div>
      </div><!-- /activity_item_container -->

       <div class="row"><!-- activity_item_container -->
        <div class="ten columns offset-by-one">

          <div class="activity_item">

            <div class="row">
              <div class="twelve columns">
                <div class="activity_timestamp">
                  <span class="activity_time">5pm</span> // <span class="activity_date">tues nov 23 2012</span>
                </div><!-- /activity_timestamp -->
              </div>
            </div>

            <div class="row">
              <div class="one column">
                <img src="/static/img/dashboard_profile_avatar.jpg" alt="dashboard_profile_avatar" width="71" height="71" />
              </div>

              <div class="eleven columns activity_details">
                <div class="row">
                  <div class="twleve columns activity_details_action">
                    <a href="#" class="activity_actor">You</a> added <a href="#" class="course_link">Class Economics 101</a> at <a href="#" class="school_link">Harvard University</a> to your list of courses
                  </div><!-- /activity_details_action -->
                </div>
                <div class="row">
                  <div class="twelve columns activity_details_status">
                    So far, <span class="activity_details_status_number">13</span> people have completely fallen in love with with these notes.
                  </div><!-- /activity_details_status -->
                </div>
              </div>
            </div>

          </div><!-- /activity_item -->

        </div>
      </div><!-- /activity_item_container -->

      <div class="row"><!-- activity_item_container -->
        <div class="ten columns offset-by-one row_alt_on">

          <div class="activity_item">

            <div class="row">
              <div class="twelve columns">
                <div class="activity_timestamp">
                  <span class="activity_time">5pm</span> // <span class="activity_date">tues nov 23 2012</span>
                </div><!-- /activity_timestamp -->
              </div>
            </div>

            <div class="row">
              <div class="one column">
                <img src="/static/img/dashboard_profile_avatar_dm.jpg" alt="dashboard_profile_avatar" width="71" height="71" />
              </div>

              <div class="eleven columns activity_details">
                <div class="row">
                  <div class="twleve columns activity_details_action">
                    <a href="#" class="activity_actor">Andrew Mogliozzi</a> downloaded your notes, <a href="#" class="activity_target">Tango for Beginners</a>.
                  </div><!-- /activity_details_action -->
                </div>
                <div class="row">
                  <div class="twelve columns activity_details_status">
                    That just earned you <span class="activity_details_status_number">5</span> Karma points.
                  </div><!-- /activity_details_status -->
                </div>
              </div>
            </div>

          </div><!-- /activity_item -->

        </div>
      </div><!-- /activity_item_container -->

      <div class="row"><!-- activity_item_container -->
        <div class="ten columns offset-by-one">

          <div class="activity_item">

            <div class="row">
              <div class="twelve columns">
                <div class="activity_timestamp">
                  <span class="activity_time">5pm</span> // <span class="activity_date">tues nov 23 2012</span>
                </div><!-- /activity_timestamp -->
              </div>
            </div>

            <div class="row">
              <div class="one column">
                <img src="/static/img/dashboard_profile_avatar_gs.jpg" alt="dashboard_profile_avatar" width="71" height="71" />
              </div>

              <div class="eleven columns activity_details">
                <div class="row">
                  <div class="twleve columns activity_details_action">
                    <a href="#" class="activity_actor">Gabi Schaffzin</a> tought your notes, <a href="#" class="activity_target">Tango for Beginners</a>, were the créme de la créme.
                  </div><!-- /activity_details_action -->
                </div>
                <div class="row">
                  <div class="twelve columns activity_details_status">
                    That just earned you <span class="activity_details_status_number">1</span> Karma point.
                  </div><!-- /activity_details_status -->
                </div>
              </div>
            </div>

          </div><!-- /activity_item -->

        </div>
      </div><!-- /activity_item_container -->

      <div class="row"><!-- activity_item_container -->
        <div class="ten columns offset-by-one row_alt_on">

          <div class="activity_item">

            <div class="row">
              <div class="twelve columns">
                <div class="activity_timestamp">
                  <span class="activity_time">5pm</span> // <span class="activity_date">tues nov 23 2012</span>
                </div><!-- /activity_timestamp -->
              </div>
            </div>

            <div class="row">
              <div class="one column">
                <img src="/static/img/dashboard_profile_avatar.jpg" alt="dashboard_profile_avatar" width="71" height="71" />
              </div>

              <div class="eleven columns activity_details">
                <div class="row">
                  <div class="twleve columns activity_details_action">
                    <a href="#" class="activity_actor">You</a> added <a href="#" class="activity_target">Tango for Beginners</a>
                  </div><!-- /activity_details_action -->
                </div>
                <div class="row">
                  <div class="twelve columns activity_details_context">
                    <a href="#" class="course_link">economics 101</a>//<a href="#" class="school_link">harvard university</a>
                  </div><!-- activity_details_context -->
                </div>
                <div class="row">
                  <div class="twelve columns activity_details_callout">
                    <div class="row">
                      <div class="one column">
                        <img src="/static/img/dashboard_activity_callout_icon_notebook.png" alt="dashboard_activity_callout_icon_notebook" width="44" height="44" />
                      </div>
                      <div class="eleven columns activity_details_callout_copy">
                        Bacon ipsum dolor sit amet pancetta capicola pork belly strip steak tri-tip turkey ribeye shank meatloaf tongue pork shankle venison turducken corned beef. Swine jowl meatball bresaola, tongue jerky turducken ham hock strip steak ground round filet mignon. Corned beef ground round pork chop, turducken
                      </div>
                    </div>
                  </div><!-- /activity_details_callout -->
                </div>
                <div class="row">
                  <div class="twelve columns activity_details_status">
                    So far, <span class="activity_details_status_number">2</span> people have found these notes mind-blowing.
                  </div><!-- /activity_details_status -->
                </div>
              </div>
            </div>

          </div><!-- /activity_item -->

        </div>
      </div><!-- /activity_item_container -->

    </div><!-- /activity_container -->

    <div class="row">
      <div class="twelve columns">
        <div id="activity_more">
          <img src="/static/img/dashboard_more_plusicon.png" alt="dashboard_more_plusicon" width="179" height="24" />
        </div><!-- /activity_more -->
      </div>
    </div>

  </section><!--/dashboard_content-->
{% endblock %}
