{% extends "n_base.html" %}
{% load url from future %}
{% load humanize %}

{% block pagestyle %}
  <link rel="stylesheet" type="text/css" media="all" href="/static/css/about.css">
{% endblock %}


{% block content %}
  <section id="about_content">
    <div class="row">
      <div id="hero_image" class="twelve columns">
        <div id="hero_image_caption_container">
          <div class="row">
            <div id="hero_image_caption" class="seven columns offset-by-one">
            </div><!-- /hero_image_caption -->
          </div>
        </div><!-- /hero_image_caption_container -->
      </div><!-- /hero_image -->
    </div>

    <div class="row">
      <div id="about_copy_header" class="ten columns offset-by-one">
        Thanks for helping spread the academic wealth!
      </div>
    </div>


    <div class="row">
      <div id="about_copy_body" class="ten columns offset-by-one">
        <p>The FinalsClub foundation is looking for a Django web developer who's excited about advancing education through open source software.</p>

        <p>We're building KarmaNotes.org, a community which enables students across the world to share notes and other academic materials.</p>

        <p>Our team is small, so you'll have an opportunity to leave your mark and build experience throughout our application. You'll deploy on a daily basis and build a respectable portfolio. All our code is open source and publicly available on GitHub!</p>

        <p>Our site digests user files (documents, pdfs, and images) and presents them for viewing (and eventually editing) all within the browser. The back-end logic is Python/Django with JavaScript/jQuery folded in to the front-end templates.</p>

        <h3>Requirements</h3>

        <ul>
        <li>1-3 years experience with an object oriented programming language (Python preferred).</li>
        <li>Mastery of basic computer science concepts, such as data structures and algorithmic complexity.</li>
        <li>Familiarity with relational databases.</li>
        <li>You know how the web works, at least from HTTP to HTML.</li>
        <li>A self-starter with the ability to work independently and meet team goals.</li>
        <li>Experience shipping real products.</li>
        </ul>
        <p><a href="mailto:info@finalsclub.org">Apply!</a></p>

      </div> <!-- #about_copy_body -->
    </div> <!-- .row -->


  </section><!--/about_content-->
{% endblock %}
