<section id="lightbox_create_course" class="modal_content">

  <div class="row">
    <div class="eight columns centered lightbox_modal" style="margin-top: 121px;">
      <div class="row">
        <div class="lightbox_header modal_header twelve columns">
          Create a new course
        </div><!-- /modal_header -->
      </div>


      <div class="row lightbox_row">
        <div class="seven columns centered">
          <label class="lightbox_label">
            Title of Course:
          </label><!-- lightbox_label -->
          <div class="lightbox_field">
            <input id="id_title" class="lightbox_textfield" type="text" name="title" maxlength="255" />
          </div><!-- .lightbox_filed -->
        </div><!--  -->
      </div> <!-- .row .lightbox_row -->

      <div class="row lightbox_row">
        <div class="seven columns centered">
          <label class="lightbox_label">
            Subject:
          </label><!-- lightbox_label -->
          <div class="lightbox_field">
            <input id="id_field" class="lightbox_textfield" type="text" name="field" maxlength="255" />
          </div><!-- .lightbox_filed -->
        </div><!--  -->
      </div> <!-- .row .lightbox_row -->

      <div class="row lightbox_row">
        <div class="seven columns centered">
          <label class="lightbox_label">
            Instructor Email:
          </label><!-- lightbox_label -->
          <div class="lightbox_field">
            <input id="id_instructor_email" class="lightbox_textfield" type="text" name="instructor_email" maxlength="75" />
          </div><!-- .lightbox_filed -->
        </div><!--  -->
      </div> <!-- .row .lightbox_row -->

      <div class="row lightbox_row">
        <div class="seven columns centered">
          <label class="lightbox_label">
            Description:
          </label><!-- lightbox_label -->
          <div class="lightbox_field">
            <textarea id="id_desc" class="lightbox_textfield lightbox_textarea" rows="4" cols="40" name="desc"></textarea>
          </div><!-- .lightbox_filed -->
        </div><!--  -->
      </div> <!-- .row .lightbox_row -->

      <div class="row lightbox_row">
        <div class="seven columns centered">
          <label class="lightbox_label">
          </label><!-- lightbox_label -->
          <div class="lightbox_field">
            <a class="button" id="submit-lightbox-create-course" type="submit">CREATE COURSE</a>
          </div><!-- .lightbox_filed -->
        </div><!--  -->
      </div> <!-- .row .lightbox_row -->

      <div class="lightbox_close"></div>

    </div> <!-- .lightbox_modal -->
  </div> <!-- .row -->


</section><!--add_course_content-->

