<section id="create_course" class="modal_content">
  <form method="post"><div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='NpoIHaWogPSJj77Tfl8zWBsjM9zYuhC0' /></div>
    <tr><th><label for="id_title">Title:</label></th><td><input id="id_title" type="text" name="title" maxlength="255" /></td></tr>
    <tr><th><label for="id_field">Field:</label></th><td><input id="id_field" type="text" name="field" maxlength="255" /></td></tr>
    {# <tr><th><label for="id_instructor">Instructor:</label></th><td><input id="id_instructor" type="text" name="instructor" maxlength="255" /></td></tr> #}
    <tr><th><label for="id_instructor_email">Instructor email:</label></th><td><input id="id_instructor_email" type="text" name="instructor_email" maxlength="75" /></td></tr>
    <tr><th><label for="id_desc">Desc:</label></th><td><textarea id="id_desc" rows="10" cols="40" name="desc"></textarea></td></tr>
    <input type="submit" value="Submit" />
  </form>
</section><!--add_course_content-->

