<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>KarmaNotes Note</title>
	
	<link rel="stylesheet" type="text/css" media="all" href="css/fontface/fontface.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/foundation.min.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/global.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/note_course_pages.css">
	
</head>
<body>

  <header id="global_header">
    <div class="row">
      <div id="logo_container" class="five columns offset-by-one">
        <div class="row">
          <div class="five columns">
            <img src="img/global_header_logo.png" alt="global_header_logo" width="144" height="17" />
          </div>
          <div class="seven columns">
            <div id="search_container">
              <input type="text" id="search_txt">       
            </div>
          </div>
        </div>
        
      </div><!--/logo container-->
    
      <div id="browse_container" class="one column">
        Browse
      </div><!--/browse_container-->
      

      <div class="four columns offset-by-one end">
        <div id="global_header_logged_in_content">
          <div class="row">
            
            <div class="five columns half-padding" id="global_header_addnote">
              <img src="img/global_header_plusnote.png" alt="global_header_plusnote" width="115" height="67" />
            </div><!-- /global_header_addnote -->
            
            <div class="four columns half-padding" id="global_header_mycourses">
              
              <div class="row">
                <div class="twelve columns" id="global_header_mycourses_copy">
                  My Courses <img src="img/global_header_login_menu_arrow.png" alt="global_header_login_menu_arrow" width="9" height="6" />
                </div><!-- /global_header_mycourses_copy -->
              </div>
              
            </div><!-- /global_header_mycourses -->
            
            <div class="three columns">
              <div id="global_header_avatar_menu">
                <div class="row">
                  <div class="five columns no-padding" id="global_header_avatar_container">
                    <img src="img/global_header_avatar.jpg" alt="global_header_avatar" width="31" height="33" />
                  </div>
                  <div class="six columns no-padding" id="global_header_note_count">
                    473
                  </div>
                  <div class="one column half-padding" id="global_header_arrow_container">
                    <img src="img/global_header_login_menu_arrow.png" alt="global_header_login_menu_arrow" width="9" height="6" />
                  </div>
                </div>
              </div><!-- /global_haader_avatar_menu -->
              
            </div>
          </div>
        </div><!-- /global_header_logged_in_content -->
      </div>
      
    </div>
    
  </header><!--/global header-->


  <section id="note_content">

    <div id="note_header" class="hero_gradient_bar">
      <div class="row">
        <div id="note_back_to_course" class="twelve columns">
         
          <img src="img/search_arrow_left.png" alt="search_arrow_left" width="5" height="10" />&nbsp;back to micro-economics
          
        </div>
      </div>
      
      <div class="row">
        <div id="note_name" class="twelve columns">
          Week 3 Notes: Fractals
        </div><!-- /note_name -->
      </div>
      
      <div class="row">
        <div id="note_status" class="twelve columns">
          <div class="activity_details_status">
            So far, <span class="activity_details_status_number">13</span> people have completely fallen in love with with these notes. <span class="activity_details_status_secondary_number">283</span> people have viewed them.
          </div><!-- /activity_details_status -->
        </div><!-- /note_status -->
      </div>
      
      <div class="row">
        <div id="note_author" class="twelve columns">
          uploaded by <a href="#">john howrey</a>
        </div><!-- /note_author -->
      </div>
      
      <div class="row">
        <div id="note_actions" class="three columns centered">
          <div class="row">
            <div class="four column">
              <img src="img/note_flag.png" alt="note_flag" width="25" height="35" />
            </div>
            <div class="four column">
              <img src="img/note_thank.png" alt="note_thank" width="34" height="34" />
            </div>
            <div class="four column">
              <img src="img/note_download.png" alt="note_download" width="51" height="36" />
            </div>
          </div>
        </div><!-- /note_actions -->
      </div>
      
    </div><!-- /note_header -->
    
    
    <div id="note_container">
      
      <div class="row">
        <div class="eight columns centered body_copy">
        
          <h1>description</h1>
        
          <p>Cupcake ipsum dolor sit amet candy. Croissant sesame snaps cupcake donut croissant. Pudding apple pie wafer I love. Donut jelly beans I love muffin macaroon. Chocolate sesame snaps halvah muffin sweet roll jujubes jelly-o. Dragée carrot cake muffin tiramisu fruitcake I love wafer tart applicake. I love halvah chupa chups cake I love sweet roll cheesecake.</p>
        
          <h1>notes</h1>
          
          <p>Muffin chocolate cake dragée candy I love. Muffin lemon drops halvah. Lollipop cake caramels. Toffee jelly beans marzipan gingerbread danish danish faworki. I love chupa chups jujubes lemon drops. Cotton candy I love cookie fruitcake I love lollipop faworki donut fruitcake. Wypas topping croissant apple pie powder lollipop pastry topping. Caramels jelly bonbon biscuit.</p>
        
          <p>Marzipan cookie danish topping applicake marzipan topping cheesecake. Bear claw biscuit halvah I love chocolate bar. Soufflé powder sesame snaps tootsie roll muffin jelly beans I love. Tiramisu toffee cookie muffin. Sugar plum apple pie danish sweet macaroon lemon drops chupa chups marshmallow. Pastry I love candy canes jelly-o apple pie. Jelly jelly croissant ice cream.</p>
        
          <p>Sweet roll topping icing lollipop cotton candy chocolate bar marzipan marshmallow I love. Pastry brownie pudding topping gummies I love pudding bear claw marzipan. Croissant I love pie candy danish. Chupa chups marzipan I love halvah muffin chocolate cake biscuit soufflé. Cotton candy wypas powder cupcake macaroon faworki faworki sesame snaps. Fruitcake sesame snaps lollipop dessert soufflé. Gingerbread toffee I love powder soufflé gingerbread donut chocolate bar sesame snaps. Soufflé carrot cake gummi bears candy macaroon candy. Carrot cake dragée soufflé halvah jelly-o I love.</p>
        
          <p>Ice cream jujubes sweet roll jujubes. Candy canes apple pie cotton candy gummi bears I love brownie sweet danish sesame snaps. Faworki sweet chocolate cake wypas pastry pudding. I love I love sweet jelly tootsie roll soufflé. Oat cake brownie gingerbread. Marzipan dragée jujubes wypas tiramisu I love muffin lemon drops soufflé.</p>
        
          <p>Donut jelly beans dessert I love I love brownie jelly-o. Bonbon cake cotton candy lollipop. Candy canes danish dessert tiramisu cookie. Gummies lemon drops oat cake soufflé lollipop sweet roll. Sugar plum cupcake chupa chups jelly-o dragée. Gingerbread I love tart pudding I love gummies sugar plum caramels. Chupa chups wypas oat cake lollipop chocolate. Halvah I love sugar plum icing.</p>
          
          <p>Cupcake dragée cotton candy muffin croissant danish candy canes. Pie applicake cake tootsie roll pudding dessert biscuit I love. Sesame snaps I love lollipop cotton candy. Sweet lemon drops dragée tart apple pie danish I love soufflé. I love apple pie </p>
        
        </div><!-- /body_copy -->
      </div>

    </div><!-- /note_container -->
    
        
  </section><!--/note_content-->
  
  
  <footer id="global_footer">
    <div class="row">
      <div id="footer_links_container" class="eleven columns offset-by-one">
        <a href="#">About</a>&nbsp;|&nbsp;<a href="#">Terms</a>&nbsp;|&nbsp;<a href="#">Code</a>&nbsp;|&nbsp;<a href="#">Discussions</a>&nbsp;|&nbsp;<a href="#">Donate</a>
      </div><!--/footer_links_container-->
    </div>
    
    <div class="row">
      <div id="colophon" class="eleven columns offset-by-one">
          <img src="img/global_footer_cc_logo.png" id="cc_logo" alt="global_footer_cc_logo" width="30" height="30" align="left"/>
          This work is licensed under a <a href="#">Creative Commons</a> Attribution-ShareAlike 3.0 Unported License.<br>
          <a href="/">KarmaNotes.org</a> is a non-profit project brought to you by the <a href="#">Finals Club Foundation</a>.
      </div><!--/colophon-->
    </div>
  </footer><!--/global footer-->

</body>
</html>