#course_content
{
  padding-top: 46px;
}

#course_subhead
{
  font-family: "MuseoSans-900";
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 47px;
  padding-bottom: 1px;
}

#course_name
{
  
}